.partners._container
	.partners__body 
		.partners__title 
			h2.t-h2 производители
		.partners__content 
			each partner in partners
				.partners__column 
					.partners__image 
						+picture('/img/partners/' + partner.image, 'image')