.section-about._container
	.section-about__body
		.section-about__title 
			h2.t-h2 почему выбирают нас
		.section-about__header
			.section-about__cards 
				each item in about
					.section-about__column 
						.card-about
							.card-about__body 
								.card-about__icon
									+iconfont('' + item.icon, 'icon')
								.card-about__content 
									.card-about__text= item.text 
				.section-about__column 
					a(href=linkTo("about", filename)).card-about 
						.card-about__body 
							.card-about__icon
								+iconfont('house-hall', 'icon')
							.card-about__content 
								.card-about__text Подробнее о магазине
			.section-about__map(data-da="about-footer" data-da-position="1" data-da-resolution="1024")   
				iframe( src="https://yandex.ru/map-widget/v1/? um=constructor%3Axxxxxxxxxxxxxxxxxxxx&source=constructor" width="100%" height="100%" frameborder="0")
		.about-footer.section-about__footer 
			.about-footer__info 
				.about-footer__title 
					h3.t-h5 О строительном магазине
				.about-footer__text.content 
					.about-footer__section.section 
						p Компания «НойСтрой» — ваш надежный поставщик строительных материалов, инструментов и&nbsp;отделочных товаров в&nbsp;Обнинске. Мы&nbsp;предлагаем широкий ассортимент продукции для&nbsp;строительства, ремонта, отделки помещений, работы с&nbsp;деревом, электромонтажа, а&nbsp;также садовой техники и&nbsp;электроинструмента.
					.about-footer__section.section 
						p Компания «НойСтрой» — ваш надежный поставщик строительных материалов, инструментов и&nbsp;отделочных товаров в&nbsp;Обнинске. Мы&nbsp;предлагаем широкий ассортимент продукции для&nbsp;строительства, ремонта, отделки помещений, работы с&nbsp;деревом, электромонтажа, а&nbsp;также садовой техники и&nbsp;электроинструмента.
					.about-footer__section.section 
						p Компания «НойСтрой» — ваш надежный поставщик строительных материалов, инструментов и&nbsp;отделочных товаров в&nbsp;Обнинске. Мы&nbsp;предлагаем широкий ассортимент продукции для&nbsp;строительства, ремонта, отделки помещений, работы с&nbsp;деревом, электромонтажа, а&nbsp;также садовой техники и&nbsp;электроинструмента.
					.about-footer__button.show-more 
						span.link-underline-center Узнать больше
			.about-footer__reviews
				.about-footer__image
					+picture('./img/rev-1.png', 'image')
