@use '../core/mixins' as *;
@use '../core/variables' as *;

.dropdown-menu {
  // .dropdown-menu__body
  &__body {
    padding: 3rem 0;
    background: rgb(239 239 241 / 100%);

    @include screen-490 {
      padding: 16px 0;
    }
  }

  // .dropdown-menu__content
  &__content {
    position: relative;
  }

  // .dropdown-menu__menu
  &__menu {
    display: flex;
    gap: 3px;

    @include screen-490 {
      display: none;
    }
  }

  // .dropdown-menu__buttons
  &__buttons {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    gap: 3px;

    max-width: min-content;
    height: 100%;
  }

  // .dropdown-menu__button
  &__button {
    cursor: pointer;

    display: flex;

    padding: 10px 12px;
    border: 2px solid transparent;
    border-radius: 5px;

    background: $background;

    &.active {
      span {
        color: #000;
      }
      .dropdown-menu__tab {
        transform: scale(1);
      }
    }

    .icon {
      transform: scale(0);
    }

    &:hover {
      border: 2px solid $color-green;
      span {
        color: #000;
      }
    }

    span {
      line-height: 118.75%; /* 19px/16 */
      color: rgb(73 74 75 / 100%);
      white-space: nowrap;

      @include screen-490 {
        font-size: 12px;
      }
    }

    @include screen-490 {
      padding: 0.5rem;
    }
  }

  // .dropdown-menu__tabs
  &__tabs {
    position: relative;

    flex: 0 1 auto;

    width: 100%;
    border-radius: 5px;

    background: $background;
  }

  // .dropdown-menu__tab
  &__tab {
    pointer-events: none;

    display: none;

    width: 100%;
    height: 100%;
    padding: 10px 12px;

    background: $background;

    &.active {
      pointer-events: auto;
      display: block;
      height: auto;
    }
  }

  // .dropdown-menu__title
  &__title {
    margin-bottom: 2rem;

    font-size: 20px;
    font-weight: 400;
    line-height: 115%; /* 23px/20 */
    text-transform: uppercase;

    @include screen-490 {
      font-size: 14px;
    }
  }

  // .dropdown-menu__tab-content
  &__tab-content {
    display: flex;
    gap: 1.6rem;

    @include screen-1024 {
      flex-flow: column wrap;
    }
  }

  // .dropdown-menu__menu-list
  &__menu-list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  // .dropdown-menu__link
  &__link {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-flow: column wrap;

    .icon {
      transform: rotate(90deg);
      transition:
        transform 0.4s,
        color 0.4s ease 0s;
    }
    &._open {
      .icon {
        transform: rotate(-90deg);
        color: $color-green;
      }
    }
  }

  // .dropdown-menu__link-button
  &__link-button {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding-right: 1.6rem;

    @include screen-490 {
      font-size: 12px;
    }
  }

  // .dropdown-menu__sub-menu
  &__sub-menu {
    display: flex;
    gap: 16px;

    width: 100%;
    padding: 0 10px;

    background: #fff;

    @include screen-690 {
      flex-direction: column;
    }
  }

  // .dropdown-menu__list
  &__list {
    display: flex;
    flex-flow: column wrap;
    gap: 16px;
    justify-content: center;
  }

  // .dropdown-menu__sub-items
  &__sub-items {
    display: flex;
    flex-flow: column;
    gap: 10px;

    width: 100%;
    padding: 10px 0 10px 5px;
  }

  // .dropdown-menu__sub-item
  &__sub-item {
    @include screen-490 {
      font-size: 12px;
    }
  }

  //* --------------------------------------------------------------------------
}

.catalog-menu {
  pointer-events: all;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;

  @include min-490 {
    top: 155px;
    display: none;
    height: calc(100vh - 100px);
  }

  // .catalog-menu__content
  &__content {
    transform-origin: 200% 100%;

    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 100%;
    height: 100%;

    font-size: 16px;

    background: $background-secondary;

    @include screen-490 {
      font-size: 12px;
    }
  }

  // .catalog-menu__body
  &__body {
    height: auto;
  }

  // .catalog-menu__catalog
  &__catalog {
    border-radius: 5px;
    line-height: 100%;

    &._open {
      .sidebar-menu__link {
        .icon {
          transform: rotate(-90deg);
        }
      }
    }
  }

  // .sidebar-menu__link
  &__link {
    display: flex;
    gap: 7px;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 3px;
    padding: 10px 8px;
    border-radius: 5px;

    line-height: 1;

    background: #fff;
  }

  // .sidebar-menu__icons
  &__icons {
    pointer-events: none;
    position: relative;

    .icon {
      transform: rotate(90deg);
      font-size: 12px;
      transition: transform 0.3s ease;
    }
  }

  // .sidebar-menu__menu
  &__menu {
    margin-bottom: 3px;
    border-radius: 0 0 10px 10px;
    border-radius: 5px;
  }

  // .sidebar-menu__sub-menu
  &__sub-menu {
    color: rgb(73 74 75 / 100%);
  }
}

.sub-menu {
  // .sub-menu__list
  &__list {
    margin-bottom: 3px;
    border-radius: 5px;
    color: rgb(73 74 75 / 100%);
    background: #fff;
  }

  // .sub-menu__link
  &__link {
    display: flex;
    gap: 7px;
    justify-content: space-between;

    width: 100%;
    padding: 10px 16px;
    border-radius: 5px;

    line-height: 1;
  }

  // .sub-menu__items
  &__items {
    padding: 0 16px;
  }

  // .sub-menu__item
  &__item {
    padding: 5px 8px;

    &:last-child {
      padding-bottom: 10px;
    }
  }

  // .sub-menu__icons
  &__icons {
    .icon {
      transform: rotate(90deg);
      font-size: 12px;
      transition: transform 0.3s ease;
    }
  }
}
