@use '../core/variables' as *;
@use '../core/mixins' as *;

//* ----------------------------------------------------------------------------
.sidebar-menu {
  pointer-events: all;

  position: fixed;
  z-index: 13;
  top: 130px;
  right: 0;
  transform: translateX(100%);

  width: 100%;
  height: calc(100vh - 90px);

  background-color: #fff;

  transition: transform 0.3s ease-in-out;

  @include min-490 {
    top: 155px;
    height: calc(100vh - 100px);
  }

  &._open-menu {
    transform: translateX(0);
  }

  // .sidebar-menu__content
  &__content {
    transform-origin: 200% 100%;

    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 100%;
    height: 100%;
    padding: 16px 16px 70px;

    font-size: 16px;

    background: $background-secondary;

    @include screen-490 {
      padding: 16px 10px 55px;
      font-size: 12px;
    }
  }

  // .sidebar-menu__body
  &__body {
    height: auto;
  }

  // .sidebar-menu__catalog
  &__catalog {
    border-radius: 5px;
    line-height: 100%;

    &._open {
      .sidebar-menu__link {
        .icon {
          transform: rotate(-90deg);
        }
      }
    }
  }

  .top-menu {
    // .top-menu__list
    &__list {
      flex-direction: column;
      gap: 3px;
      align-items: start;
    }

    // .top-menu__item
    &__item {
      width: 100%;
      border-radius: 5px;
      background: $background;
    }

    // .top-menu__link
    &__link {
      display: block;
      width: 100%;
      padding: 10px 8px;
      font-size: 16px;

      @include screen-490 {
        font-size: 12px;
      }
    }
  }
}
