@use '../core/variables' as *;

.loader {
  position: fixed;
  z-index: 99;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;

  // .loader__body
  &__body {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    font-family: $font-family-default;

    background: rgb(39 44 33);
  }

  // .loader__content
  &__content {
    padding: 2rem 8rem;
    border-radius: 10px;
    background-color: rgb(63 125 2 / 40.4%);
    box-shadow: 1px 1px 27px 1px #242424;
  }

  // .loader__items
  &__items {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }

  // .loader__spinner
  &__spinner {
    position: relative;

    display: inline-block;

    font-size: 48px;
    font-weight: bold;
    color: #242424;
    text-shadow:
      0 0 2px rgb(93 187 0),
      0 0 1px rgb(93 187 0),
      0 0 1px rgb(93 187 0);
    letter-spacing: 2px;

    &::after {
      content: 'Loading';

      position: absolute;
      top: 0;
      left: 0;

      overflow: hidden;

      width: 100%;
      height: 100%;

      color: rgb(93 187 0);

      animation: animated-loader 1.5s linear infinite;
    }
  }

  // .loader__timer
  &__timer {
    transform: scale(1);
    font-size: 2.4em;
    color: rgb(93 187 0);
    transition:
      transform 0.3s ease-in-out,
      opacity 0.5s ease;
  }
}

@keyframes animated-loader {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
