@use '../core/mixins' as *;
.not-found {
  // .not-found__body
  &__body {
    position: relative;
    z-index: 9;
    // top: -100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
  }

  // .not-found__image
  &__image {
    z-index: inherit;
  }

  // .not-found__text-img
  &__text-img {
    font-size: 450px;
    font-weight: 900;
    color: rgb(255 255 255 / 60%);
    text-align: center;
    text-transform: uppercase;

    @include minmax-320-1920 {
      font-size: calc(170px + (450 - 170) * ((100vw - 320px) / (1920 - 320)));
    }

    @include screen-320 {
      font-size: 170px;
    }
  }

  // .not-found__text
  &__text {
    margin-bottom: 18px;

    font-size: 18px;
    font-weight: 700;
    color: rgb(255 255 255 / 100%);
    text-align: center;
  }

  // .not-found__button
  &__button {
    width: 153px;
    height: 39px;
    border-radius: 10px;

    font-size: 16px;
    color: rgb(249 250 251 / 100%);
    text-align: center;

    background: linear-gradient(
      180deg,
      rgb(88 141 3 / 100%),
      rgb(13.332 71.105 26.664 / 100%) 100%
    );

    transition:
      scale 0.2s,
      box-shadow 0.2s ease-in-out;
    &:hover {
      scale: 0.98;
      box-shadow: 0 -1px 10px 1px rgb(0 1 2 / 89.7%) inset;
    }
  }
}
