@use '../core/variables' as *;
@use '../core/mixins' as *;

.section-perform {
  // .section-perform__body
  &__body {
  }

  // .section-perform__content
  &__content {
    position: relative;
    display: grid;
    flex-direction: column;
    place-items: center center;
  }

  // .section-perform__video
  &__video {
    position: relative;

    overflow: initial;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    video {
      pointer-events: all;
      width: 100%;
      object-fit: cover;
    }
  }

  // .section-perform__title
  &__title {
    position: relative;
    transform: translateY(-20px);

    grid-column: 1 / 2;
    grid-row: 1 / 2;

    width: 100%;
    // max-width: 1280px;

    font-weight: 500;
    color: #fff;
    text-align: center;
    letter-spacing: -0.01em;

    span {
      will-change: opacity, transform;

      position: absolute;
      inset: 0;
      transform: translateY(70px);

      display: block;

      text-shadow: 1px 1px 17px #000;
      white-space: nowrap;

      opacity: 0;
      filter: blur(0) grayscale(0%);

      transition:
        opacity 1s ease,
        transform 1s ease;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      &.is-active {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  // .section-perform__text
  &__text {
    pointer-events: none;

    position: absolute;

    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;

    font-size: 1.8rem;
    line-height: 100%;
  }

  // .section-perform__buttons
  &__collection {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  // .section-perform__image
  &__image {
    width: auto;
    img {
      width: 100%;
      object-position: top right;
    }

    @include min-1024 {
      min-width: 541px;
    }
  }
}
