@use '../core/variables' as *;
@use '../core/mixins' as *;

.categories {
  // .categories__body
  &__body {
    padding-block: 5rem;
  }

  // .categories__content
  &__content {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(5, minmax(170px, 1fr));
    gap: 3.1rem;

    @include screen-1289 {
      grid-template-columns: repeat(4, minmax(170px, 1fr));
      gap: 20px;
    }

    @include screen-1024 {
      grid-template-columns: repeat(3, minmax(170px, 1fr));
    }

    @include screen-768 {
      grid-template-columns: repeat(2, minmax(170px, 1fr));
      gap: 16px;
    }

    @include screen-490 {
      grid-template-columns: repeat(1, minmax(170px, 1fr));
    }
  }

  // .categories__card
  &__card {
    border-radius: 10px;
    background: rgb(239 239 241 / 100%);

    @include screen-490 {
      border-radius: 5px;
    }

    &:last-child {
      grid-column: 4 / 6;

      @include screen-1289 {
        grid-column: 2 / 4;
      }

      @include screen-1024 {
        grid-column: 3 / 4;
      }

      @include screen-768 {
        grid-column: 1 / 3;
      }

      @include screen-490 {
        grid-column: 1 / 2;
      }
    }

    &:hover {
      .icon {
        transform: rotate(90deg);
      }
    }
  }
}

.card {
  // .card__body
  &__body {
    padding: 10px;
  }

  // .card__header
  &__header {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 10px;
  }

  // .card__title
  &__title {
    font-size: 14px;
    line-height: 100%;
  }

  // .card__button
  &__button {
    padding: 8px;
    border-radius: 50%;
    box-shadow: $boxShadow;

    .icon {
      transform: rotate(45deg);
      font-size: 2.4rem;
      transition: transform 0.3s ease-in-out;
    }
  }

  // .card__content
  &__content {
    display: flex;
    justify-content: flex-end;
  }
}
