@use '../core/variables' as *;
@use '../core/mixins' as *;

// --- Переменные ---

$radius: 2rem;
$gap: 16px;

.section-partners {
  background-color: $color-bg-section;

  // .section-partners__body
  &__body {
    padding-block: 8rem 9rem !important;

    @include screen-490 {
      padding-block: 4rem !important;
    }
  }

  // .section-partners__content
  &__content {
    overflow: hidden;
  }

  // .section-partners__head
  &__head {
    margin: 0 auto 6rem;
    text-align: center;
  }

  // .section-partners__slide
  &__slide {
    overflow: hidden;
    margin: 0 -14px;
    padding: 25px 15px;
  }

  // .section-partners__title
  &__title {
    margin-bottom: 12px;
    font-family: $font-family-title;
    font-weight: 800;

    @include screen-768 {
      font-size: 28px;
    }
  }

  // .section-partners__subtitle
  &__subtitle {
    font-size: 2rem;
    color: $color-text-gray;
  }
}

// Карточка отдельного логотипа
.partner-item {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem; // Внутренние отступы, чтобы лого не прилипало к краям
  border-radius: $radius;

  background-color: $color-white;

  transition: all 0.3s ease;

  // .partner__image
  &__image {
    position: relative;
    height: 70px;
  }

  // .partner-item__logo
  &__logo {
    height: 140px;
    max-height: 100%;

    opacity: 0.5; // Полупрозрачный (неактивный вид)
    object-fit: contain; // Сохраняем пропорции

    // --- Эффект "Стиль и Статус" ---

    // Смешивание с фоном для лучшего вписывания (опционально)
    mix-blend-mode: multiply;

    transition:
      opacity 0.3s ease-in,
      filter 0.3s ease-in;

    @include screen-hover {
      filter: grayscale(100%); // Полностью ЧБ
    }
  }

  // Ховер эффект
  &:hover {
    transform: translateY(-5px); // Чуть всплывает
    // Карточка становится белой
    box-shadow: 0 10px 30px rgb(0 0 0 / 8%); // Появляется тень

    // .partner-item__logo
    .partner-item__logo {
      opacity: 1; // Возвращаем яркость
      filter: grayscale(0%); // Возвращаем цвет
      mix-blend-mode: normal;
    }
  }
}

.swiper-pagination {
  position: absolute;
  z-index: 10;
  transform: translateZ(0);

  text-align: center;

  transition: opacity 0.3s;

  &.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  .swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0;
  }

  .swiper-pagination-bullet {
    cursor: pointer;

    position: relative;
    transform: scale(0);

    display: inline-block;

    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;

    background-color: $color-text-gray;

    transition:
      transform 0.5s,
      left 0.5s,
      color 0.4s ease-in-out;

    &.swiper-pagination-bullet-active-prev {
      transform: scale(0.66);
    }

    &.swiper-pagination-bullet-active-prev-prev {
      transform: scale(0.33);
    }

    &.swiper-pagination-bullet-active-next {
      transform: scale(0.66);
    }
    &.swiper-pagination-bullet-active-next-next {
      transform: scale(0.33);
    }
    &.swiper-pagination-bullet-active,
    &.swiper-pagination-bullet-active-main {
      transform: scale(1);
      background-color: $color-accent;
    }
  }
}
