@use '../core/variables' as *;
@use '../core/mixins' as *;
.section-about {
  // .section-about__body
  &__body {
    height: 100%;
    padding: 0 0 6rem;
  }

  // .section-about__content
  &__content {
    display: flex;
    gap: 3rem;
  }

  // .section-about__column
  &__column {
    display: flex;
    flex: 0 1 33.333%;
    flex-direction: column;

    margin-top: -6rem;

    background: $neon-carrot;
    background: rgb(255 142 67);
    box-shadow: 0 1px 3px #573826b7;

    &:nth-child(2) {
      padding: 0;
      background: none;
      box-shadow: none;

      .card__body {
        padding: 0;
      }
      .card__column {
        padding: 2rem 3rem;
        background: $neon-carrot;
        background: rgb(255 142 67);
        box-shadow: 0 1px 17px #573826b7;
      }
    }
  }

  // .section-about__card
  &__card {
    flex: 1 1 100%;
    height: 100%;
  }
}

.card {
  // .card__body
  &__body {
    height: 100%;
    padding: 2rem 3rem;
  }

  // .card__title
  &__title {
    padding-bottom: 1rem;
  }

  // .card__content
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    height: 100%;
    p {
      line-height: 115%;
    }
  }

  // .card__column
  &__column {
    display: flex;
    align-items: center;
    height: 100%;
  }

  // .card__item
  &__item {
    display: flex;
    align-items: center;

    .icon {
      margin-right: 1rem;
      font-size: 2.4rem;
    }
  }

  // .card__button
  &__button {
  }

  // .card__icon
  &__icon {
    margin-right: 1.6rem;
    .icon {
      font-size: 4.8rem;
    }
  }

  // .card__info
  &__info {
  }

  // .card__text
  &__text {
  }

  // .card__number
  &__number {
    margin-bottom: 0.4rem;
    font-size: 3.4rem;
    font-weight: 600;
  }
}
