form(id="form-order").order-form 
	._body
		._line
			._item 
				label(for="name")._label 
				._input
					input.input.name(id="name" autocomplete="on" type="text" value="" name="name" error="Обязательное поле" placeholder="Имя*")
			._item 
				label(for="phone")._label 
				._input
					input.input.phone(id="phone" autocomplete="off" type="tel" name="phone" error="Обязательное поле" placeholder="+7 (___) ___-__-__")
		._line
			._item 
				label(for="comment")._label 
				._text
					textarea._comment(id="comment" autocomplete="on" type="text" value="" name="comment" placeholder="Сообщение...")
