form(action="#" id='order-call').order-call.form-order
  ._body
    ._btn-close.btn-close
      +iconfont('plus', '_icon')
    ._title.t-h2 Заказать звонок
    ._content 
      ._row
        ._column
          ._line
            label(for="name-order-call")._lebel
            ._input
              input.input.name(id="name-order-call" placeholder="Имя*" autocomplete="off",
              type="text", name="name", error="Обязательное поле")
        ._column
          ._line
            label(for="phone-order-call")._lebel
            ._input
              input.input.phone(type="tel" id='phone-order-call' placeholder="+7 (___) ___-__-__" autocomplete="off" name="phone" error="Обязательное поле" 
              ) 
        ._column 
          ._checkbox
            .checkbox
              label._label 
                input(type="checkbox" name="agree" form="order-call")._input 
                span._checked
                  +iconfont('check', '_icon')
            span._text Подтверждаю, что&nbsp;ознакомился&nbsp;(&#8209;лась) с&nbsp;политикой конфиденциальности и&nbsp;даю&nbsp;согласие на&nbsp;обработку персональных 
      ._row 
        ._button.button-container
          button(form="order-call" type="button").send-button.button.t-h2
            span Отправить
          .button-blink