form(action="#" id="form-question").form-question.form-order
  ._body.radio-group
    ._btn-close.btn-close
      +iconfont('plus', '_icon') 
    ._content
      fieldset._fieldset-table
        legend._title.t-h3 Какой тип вашей коммерческой недвижимости требует управления?
        ._row 
          ._line-radio
            input(type="radio" id="office-1" name="building-type" value="Офисное здание" checked)._input
            label(for="office-1")._label Офисное здание
          ._line-radio
            input(type="radio" id="office-2" name="building-type" value="Торговый центр")._input
            label(for="office-2")._label Торговый центр
          ._line-radio
            input(type="radio" id="office-3" name="building-type" value="Складское помещение")._input
            label(for="office-3")._label Складское помещение
          ._line-radio
            input(type="radio" id="office-4" name="building-type" value="Здание смешанного использования")._input
            label(for="office-4")._label Здание смешанного использования 
          ._line-radio
            input(type="radio" id="office-5" name="building-type" value="Другое")._input
            label(for="office-5")._label Другое 
          ._textarea
            span._text
              textarea._comment(id="comment-1" autocomplete="on" type="text" value="" name="comment-1" placeholder="Напишите свой вариант...")
        ._buttons
          ._button._btn-next
            button(type="button").button.t-h2
              span Далее 
      fieldset._fieldset-table
        legend._title.t-h3 Насколько вы&nbsp;заинтересованы в&nbsp;использовании наших услуг по&nbsp;управлению недвижимостью?
        ._row 
          ._line-radio
            input(type="radio" id="int-1" name="interest" value="Очень заинтересован" checked)._input
            label(for="int-1")._label Очень заинтересован
          ._line-radio
            input(type="radio" id="int-2" name="interest" value="Средне заинтересован")._input
            label(for="int-2")._label Средне заинтересован
          ._line-radio
            input(type="radio" id="int-3" name="interest" value="Не заинтересован, но рассматриваю варианты")._input
            label(for="int-3")._label Не заинтересован, но&nbsp;рассматриваю варианты
          ._line-radio
            input(type="radio" id="int-4" name="interest" value="Совсем не заинтересован")._input
            label(for="int-4")._label Совсем не заинтересован 
        ._buttons
          ._button._btn-prev
            button(type="button").button.t-h2
              span Назад
          ._button._btn-next
            button(type="button").button.t-h2
              span Далее
      fieldset._fieldset-table
        legend._title.t-h3 Каковы ваши основные цели передачи недвижимости в&nbsp;управление?
        ._row 
          ._line-checked 
            input(type="checkbox" id="tasks-1" name="tasks-1" value="Повышение доходности")._input
            label(for="tasks-1")._label Повышение доходности
              +iconfont('check', '_icon')
          ._line-checked 
            input(type="checkbox" id="tasks-2" name="tasks-2" value="Снижение операционных издержек")._input
            label(for="tasks-2")._label Снижение операционных издержек
              +iconfont('check', '_icon')
          ._line-checked 
            input(type="checkbox" id="tasks-3" name="tasks-3" value="Увеличение стоимости объекта")._input
            label(for="tasks-3")._label Увеличение стоимости объекта
              +iconfont('check', '_icon')
          ._line-checked 
            input(type="checkbox" id="tasks-4" name="tasks-4" value="Освобождение времени для других дел")._input
            label(for="tasks-4")._label Освобождение времени для&nbsp;других&nbsp;дел
              +iconfont('check', '_icon')
          ._line-checked 
            input(type="checkbox" id="tasks-5" name="tasks-5" value="Обеспечение качественного обслуживания арендаторов")._input
            label(for="tasks-5")._label Обеспечение качественного обслуживания арендаторов
              +iconfont('check', '_icon') 
          ._line-checked 
            input(type="checkbox" id="tasks-6" name="tasks-6" value="Другое")._input
            label(for="tasks-6")._label
              | Другое
              +iconfont('check', '_icon') 
          ._line
            ._textarea
              span._text
                textarea._comment(id="comment-2" autocomplete="on" type="text" name="comment-2" placeholder="Напишите свой вариант...")
        ._buttons
          ._button._btn-prev
            button(type="button").button.t-h2
              span Назад
          ._button._btn-next
            button(type="button").button.t-h2
              span Далее
      fieldset._fieldset-table
        legend._title.t-h3 Какой бюджет вы&nbsp;готовы выделить на&nbsp;услуги по&nbsp;управлению вашей недвижимостью?
        ._row 
          ._line-radio
            input(type="radio" id="budget-1" name="budget" value="До 100,000 ₽ в год" checked)._input
            label(for="budget-1")._label До&nbsp;100,000&nbsp;₽&nbsp;в&nbsp;год
          ._line-radio
            input(type="radio" id="budget-2" name="budget" value="От 100,000 до 500,000 ₽ в год")._input
            label(for="budget-2")._label От&nbsp;100,000&nbsp;до&nbsp;500,000&nbsp;₽&nbsp;в&nbsp;год
          ._line-radio
            input(type="radio" id="budget-3" name="budget" value="От500,000до1,000,000₽ вгод")._input
            label(for="budget-3")._label От&nbsp;500,000&nbsp;до&nbsp;1,000,000&nbsp;₽&nbsp;в&nbsp;год
          ._line-radio
            input(type="radio" id="budget-4" name="budget" value="Более 1,000,000 ₽ в год")._input
            label(for="budget-4")._label Более&nbsp;1,000,000&nbsp;₽&nbsp;в&nbsp;год 
        ._buttons
          ._button._btn-prev
            button(type="button").button.t-h2
              span Назад
          ._button._btn-next
            button(type="button").button.t-h2
              span Далее
      fieldset._fieldset-table
        legend._title.t-h3 Какие дополнительные услуги вас&nbsp;интересуют?
        ._row 
          ._line-checked 
            input(type="checkbox" id="service-1" name="service-1" value="Юридическое сопровождение")._input
            label(for="service-1")._label Юридическое сопровождение
              +iconfont('check', '_icon')
          ._line-checked 
            input(type="checkbox" id="service-2" name="service-2" value="Финансовый аудит")._input
            label(for="service-2")._label Финансовый аудит
              +iconfont('check', '_icon')
          ._line-checked 
            input(type="checkbox" id="service-3" name="service-3" value="PR и&nbsp;маркетинг объекта")._input
            label(for="service-3")._label PR и&nbsp;маркетинг объекта
              +iconfont('check', '_icon')
          ._line-checked 
            input(type="checkbox" id="service-4" name="service-4" value="Управление ремонтными работами")._input
            label(for="service-4")._label
              | Управление ремонтными работами
              +iconfont('check', '_icon') 
          ._line-checked 
            input(type="checkbox" id="service-5" name="service-5" value="Другое")._input
            label(for="service-5")._label
              | Другое
              +iconfont('check', '_icon') 
          ._textarea
            span._text
              textarea._comment(id="comment-3" autocomplete="on" type="text" name="comment-3" placeholder="Напишите свой вариант...")
        ._buttons
          ._button._btn-prev
            button(type="button").button.t-h2
              span Назад
          ._button._btn-next
            button(type="button").button.t-h2
              span Далее
      fieldset._fieldset-table
        legend._title.t-h3 Готово!
        p Для предоставления информации менеджером, укажите контактные данные
        ._row 
          ._line
            label(for="name-form-question")._label 
            ._input
              input.input.name(id="name-form-question" placeholder="Имя*" autocomplete="off" type="text" name="name" error="Обязательное поле")
          ._line
            label(for="phone-form-question")._label 
            ._input
              input.input.phone(type="tel" id='phone-form-question' placeholder="+7 (___) ___-__-__" autocomplete="off" name="phone" error="Обязательное поле" 
              )
          ._line
            label(for="mail")._label 
            ._input
              input.input(type="tel" class="maile" id='mail' placeholder="e-mail" autocomplete="off" name="mail" error="Обязательное поле" 
              ) 
          ._checkbox
            .checkbox
              label._label 
                input(type="checkbox" name="agree-form" form="form-question")._input 
                span._checked
                  +iconfont('check', '_icon')
            span Подтверждаю, что&nbsp;ознакомился&nbsp;(&#8209;лась) с&nbsp;политикой конфиденциальности и&nbsp;даю&nbsp;согласие на&nbsp;обработку персональных 
        ._buttons
          ._button._btn-prev
            button(type="button").button.t-h2
              span Назад
          ._button.button-container._btn-submit
            button(type="button").send-button.button.t-h2
              span Отправить 


