@use '../core/variables' as *;
@use '../core/mixins' as *;

.footer {
  .link-underline-center {
    &::before {
      background: #fff;
    }
  }
  // .footer__body
  &__body {
    padding-block: 5rem;

    @include screen-768 {
      padding-block: 5rem 8rem;
    }
  }

  // .footer__content
  &__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 31px;
    justify-content: space-between;

    font-size: 12px;
    color: #fff;

    @include screen-1289 {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;
    }

    @include screen-1024 {
      grid-template-columns: repeat(3, 1fr);
    }

    @include screen-768 {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 16px;
    }
  }

  // .footer__column
  &__column {
    width: 100%;

    &:nth-child(1) {
      display: flex;
      flex: 1 1 20%;
      flex-direction: column;

      .footer__text {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
        &:nth-child(2) {
          flex: 1 1 auto;
        }
      }
    }

    &:nth-child(2) {
      grid-column: 2 / 4;

      @include screen-768 {
        grid-column: 2 / 3;
      }

      @include screen-690 {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
      }
    }

    &:nth-child(3) {
      display: flex;
    }

    &:nth-child(4) {
      .footer__links-col {
        margin-bottom: 16px;
      }
    }

    @include screen-490 {
      &:nth-child(4) {
        grid-column: 1 / 3;
      }
    }
  }

  // .footer__row
  &__row {
    display: flex;
  }

  // .footer__logo
  &__logo {
    margin-bottom: 23px;
  }

  // .footer__text
  &__text {
    font-size: 12px;
  }

  // .footer__title
  &__title {
    margin-bottom: 16px;

    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    color: rgb(103 103 103 / 100%);
    text-transform: uppercase;

    @include screen-490 {
      margin-bottom: 10px;
    }
  }

  // .footer__catalog
  &__catalog {
    display: flex;
    column-gap: 31px;

    @include screen-1289 {
      column-gap: 20px;
    }

    @include screen-768 {
      column-gap: 16px;
    }
  }

  // .footer__links
  &__links {
    flex: 0 1 50%;
  }

  // .footer__links-col
  &__links-col {
    display: inline-flex;
    flex-direction: column;
    width: 100%;

    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // .footer__link
  &__link {
    display: inline;
  }

  // .footer__phone
  &__phone {
    margin-bottom: 10px;
    // .link-underline-center {
    //   &::before {
    //     background: #fff;
    //   }
    // }
  }
}
