@use '../core/variables' as *;
@use '../core/mixins' as *;
@use 'sass:color';

// --- Переменные (те же, что и ранее) ---
$radius: 24px;

.footer {
  color: $color-white;
  background-color: $color-bg-dark;

  // .footer__body
  &__body {
    padding-block: 8rem 3rem !important;

    @include screen-490 {
      padding-block: 4rem 3rem !important;
    }
  }

  // .footer__wrapper
  &__wrapper {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    margin-bottom: 8rem !important;

    @include screen-992 {
      flex-direction: column;
      gap: 40px;
    }

    @include screen-490 {
      margin-bottom: 4rem;
    }
  }

  // .footer__info
  &__info {
    max-width: 500px;
  }

  // .footer__title
  &__title {
    margin-bottom: 20px;
    font-size: 42px;
    font-weight: 800;
    line-height: 1.2;

    @media (width <= 768px) {
      font-size: 32px;
    }
  }

  // .footer__desc
  &__desc {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.3;
    color: $color-text-gray;
  }

  // .footer__contacts-block
  &__contacts-block {
    display: flex;
    flex-direction: column;
  }

  // .footer__form form
  &__phone {
    display: block;

    margin-bottom: 24px;

    font-size: 36px;
    font-weight: 700;
    color: $color-white;
    text-decoration: none;

    transition: color 1.8s $transition-linear-ease;

    &:hover {
      color: $color-accent;
    }

    @include screen-768 {
      font-size: 28px;
    }
  }

  // .footer__socials
  &__socials {
    display: flex;
    gap: 16px;
  }

  // .footer__form
  &__form {
    flex: 1;

    max-width: 500px;
    padding: 40px;
    border-radius: $radius;

    background-color: #161616; // Чуть светлее фона

    @include screen-768 {
      max-width: 100%;
      padding: 24px;
    }
  }

  .form {
    // .form__row
    &__row {
      margin-bottom: 16px;
    }

    // .form__input
    &__input {
      width: 100%;
      height: 60px;
      padding: 0 20px;
      border: 1px solid $border-color;
      border-radius: 12px;

      font-family: $font-main;
      font-size: 16px;
      color: $color-white;

      background-color: $background-input;
      outline: none;

      transition: border-color 1.8s $transition-linear-ease;

      &::placeholder {
        font-size: 14px;
        color: $color-placeholder;
      }

      &:focus {
        border-color: $color-accent;
      }
    }

    //.form__submit
    &__submit {
      cursor: pointer;

      width: 100%;
      height: 60px;
      margin-top: 10px;
      border: none;
      border-radius: 12px;

      font-size: 16px;
      font-weight: 700;
      color: $color-white;

      background-color: $color-accent;

      transition: background-color 1.8s $transition-linear-ease;

      &:hover {
        background-color: color.scale($color-accent, $lightness: -10%);
      }
    }

    // .form__agreement
    &__agreement {
      margin-top: 16px;

      font-size: 12px;
      line-height: 1.4;
      color: $color-placeholder;
      text-align: center;

      a {
        color: rgb(119 119 119);
        text-decoration: underline;
        transition: color 1.8s $transition-linear-ease;

        &:hover {
          color: $color-gray-hover;
        }
      }
    }
  }

  // .// .footer__bottom
  &__bottom {
    display: flex;
    justify-content: space-between;

    padding-top: 30px;
    border-top: 1px solid $border-color;

    font-size: 12px;
    color: $color-placeholder;

    @include screen-768 {
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }
  }

  // .footer__copy
  &__copy {
    user-select: none;
  }

  // .footer__developer
  &__developer {
    color: $color-placeholder;
    text-decoration: none;
    transition: color 1.8s $transition-linear-ease;

    &:hover {
      color: $color-gray-hover;
    }
  }
}

//* ----------------------------------------------------------------------------
.footer-socials {
  display: flex;
  gap: 16px;

  // .footer-socials__social-link
  &__social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border: 1px solid $border-color;
    border-radius: 50%;

    color: $color-white;
    text-decoration: none;

    background: $background-input;

    transition: background 1.8s $transition-linear-ease;

    .icon {
      font-size: 24px;
      color: $color-white;
      transition: color 1.8s $transition-linear-ease;
    }

    &:hover {
      background: $color-white;

      .icon {
        color: $color-bg-dark;
      }
    }
  }
}
