@use '../core/variables' as *;
@use '../core/mixins' as *;
@use '../core/extend' as *;

.header {
  // .header__content
  &__content {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;

    color: #363636;

    transition: color 0.9s ease 0s;

    @include screen-490 {
      gap: 5px;
    }
  }

  // .header__top-menu
  &__top-menu {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    transition: height 0.3s ease-in-out;

    @include screen-690 {
      display: none;
    }
  }

  // .header__icon-logo
  &__icon-logo {
    user-select: none;
  }

  // .header__contacts
  &__contacts {
    .top-menu__link {
      color: #fff;
      white-space: nowrap;
    }
  }

  // .header__icon-text
  &__icon-text {
    transform: rotate(45deg);

    width: 25px;
    height: 25px;
    margin-right: 1rem;
    border-radius: 8px;

    color: #fff;

    background: #000;

    transition:
      color 0.9s,
      background 0.9s ease 0s;

    span {
      transform: rotate(-45deg);
      font-size: 15px;
      font-weight: 700;
    }
  }

  // .header__link
  &__link {
    transform: scaleY(1.5);

    font-family: $font-family-logo;
    font-size: 2.6rem;
    font-weight: 800;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    letter-spacing: 1.1px;
  }

  // .header__main-menu
  &__main-menu {
    display: flex;
    gap: 31px;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    @include screen-690 {
      padding-top: 9px !important;
    }
  }

  // .header__burger-button
  &__burger-button {
    @include min-960 {
      display: none;
    }
  }
}

.top-menu {
  position: relative;
  transform: translate3d(0, 0, 0.01px);

  display: flex;

  padding: 0.4em;
  border-radius: 100vw;

  background: hsl(205deg 0% 0% / 10%);
  backdrop-filter: blur(9px) brightness(1.1);
  box-shadow:
    0 4px 20px hsl(205deg 50% 30% / 15%),
    0 4px 10px hsl(205deg 30% 10% / 7.5%),
    inset 0 -4px 15px 6px hsl(205deg 70% 90% / 20%),
    inset 0 -2px 5px hsl(205deg 70% 90% / 15%),
    inset 0 -1px 1px hsl(205deg 70% 90% / 40%),
    inset 0 10px 15px hsl(205deg 30% 10% / 20%),
    inset 0 1px 2px hsl(205deg 70% 90% / 30%);

  /* First noise texture layer */
  &::before {
    content: '';

    position: absolute;
    z-index: 1;
    inset: 0;

    border-radius: 100vw;

    background: hsl(205deg 0% 100% / 10%);
    backdrop-filter: blur(7px) brightness(1.05);

    mask-image: url('../../img/picture/nnnoise.png');
    mask-mode: luminance;
    mask-repeat: repeat;
    mask-size: 55%;
  }

  /* Second noise texture layer */
  &::after {
    content: '';

    position: absolute;
    z-index: 2;
    inset: 0;

    border-radius: 100vw;

    background: hsl(205deg 0% 20% / 5%);
    backdrop-filter: blur(5px) brightness(0.95);
    box-shadow:
      inset 0 -4px 15px 5px hsl(205deg 70% 90% / 30%),
      inset 0 -2px 5px hsl(205deg 70% 90% / 15%),
      inset 0 -1px 1px hsl(205deg 70% 90% / 40%),
      inset 0 1px 2px hsl(205deg 70% 90% / 30%);

    mask-image: url('../../img/picture/nnnoise.png');
    mask-mode: luminance;
    mask-repeat: repeat;
    mask-size: 50%;
  }

  // .top-menu__wrapper
  &__wrapper {
    position: relative;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .top-menu__list
  &__list {
    position: relative;
    z-index: 3;

    display: flex;
    gap: 3rem;
    gap: 0;
    align-items: center;
    justify-content: space-between;

    padding: 0 0.51em;

    color: white;
    text-shadow: 0 1px 1px hsl(205deg 30% 10% / 20%);

    @include screen-820 {
      gap: 30px;
    }

    @include screen-690 {
      gap: 16px;
    }
  }

  // .top-menu__item
  &__item {
    position: relative;

    padding: 0.6em 0.8em;
    border-radius: 100vw;

    font-weight: 500;
    color: white;
    white-space: nowrap;

    box-shadow: 0 0 0.5px 1.5px transparent;

    transition: color 0.3s ease;
    transition:
      all 1.8s var(--linear-ease) 0.2s,
      box-shadow 0.3s ease;

    &::after {
      content: '';

      position: absolute;
      z-index: -1;
      inset: 0;
      scale: 0;

      border-radius: 100vw;

      opacity: 0;
      background: rgb(255 255 255);

      transition: all 2s var(--linear-ease) 0.2s;
    }
    &:focus-within:has(:focus-visible) {
      box-shadow: 0 0 0.5px 1.5px white;
    }
    &.active {
      color: black;
      text-shadow: none;

      &::after {
        scale: 1;
        opacity: 1;
      }
    }
    &:hover {
      color: #ff5a5f;
      filter: contrast(150%);
    }
  }

  // .top-menu__link
  &__link {
    font-size: 16px;
    font-weight: 500;
    // text-shadow: 1px 1px 2px #000;
  }
}
//* -------------------- Effect element for animations -------------------------
.effect {
  pointer-events: none;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  display: grid;
  place-items: center;

  width: 0;
  height: 0;

  opacity: 1;

  &.filter {
    position: absolute;
    filter: blur(7px) contrast(20) blur(0);
    mix-blend-mode: lighten;

    &::before {
      content: '';
      position: absolute;
      z-index: -2;
      background: rgb(0 0 0 / 7.5%);
    }

    &::after {
      content: '';

      position: absolute;
      z-index: -1;
      inset: 0;
      scale: 0;

      border-radius: 100vw;

      opacity: 0;
      background: white;
    }
  }

  //* Text effect styling
  &.text {
    z-index: 1;

    font-weight: 500;
    color: white;

    filter: contrast(150%);

    transition: color 0s ease;
    &.hidden {
      opacity: 0;
    }

    &.active {
      color: black;
      transition: color 1.8s var(--linear-ease) 0.2s;
    }
  }

  /* Active effect animation */
  &.active {
    &::after {
      animation: pill 2s var(--linear-ease) 0.2s both;
    }
  }
}
//* ------------------------ Particle container --------------------------------

.particles {
  position: absolute;
  inset: 0;
  transform: translate3d(0, 0, 0);
}

.particle {
  --time: 5s;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);

  opacity: 0;

  animation: particle calc(var(--time)) ease 1 -350ms;
}
.particle,
.point {
  transform-origin: center;

  display: block;

  width: 20px;
  height: 20px;
  border-radius: 100%;

  opacity: 0;
}

.point {
  opacity: 1;
  background: var(--color);
  animation: point calc(var(--time)) ease 1 -350ms;
}
//* ------------------------ Animation keyframes -------------------------------

@keyframes particle {
  0% {
    transform: rotate(0deg)
      translate(calc(var(--start-x) * 1), calc(var(--start-y) * 1));
    opacity: 1;
    animation-timing-function: cubic-bezier(0.55, 0, 1, 0.45);
  }
  70% {
    transform: rotate(calc(var(--rotate) * 0.5))
      translate(calc(var(--end-x) * 1.2), calc(var(--end-y) * 1.2));
    opacity: 1;
    animation-timing-function: ease;
  }
  85% {
    transform: rotate(calc(var(--rotate) * 0.66))
      translate(calc(var(--end-x) * 1), calc(var(--end-y) * 1));
    opacity: 1;
  }
  100% {
    transform: rotate(calc(var(--rotate) * 1.2))
      translate(calc(var(--end-x) * 0.5), calc(var(--end-y) * 0.5));
    opacity: 1;
  }
}

@keyframes point {
  0% {
    scale: 0;
    opacity: 0;
    animation-timing-function: cubic-bezier(0.55, 0, 1, 0.45);
  }
  25% {
    scale: calc(var(--scale) * 0.25);
  }
  38% {
    opacity: 1;
  }
  65% {
    scale: var(--scale);
    opacity: 1;
    animation-timing-function: ease;
  }
  85% {
    scale: var(--scale);
    opacity: 1;
  }
  100% {
    scale: 0;
    opacity: 0;
  }
}

@keyframes pill {
  to {
    scale: 1;
    opacity: 1;
  }
}

:root {
  --linear-ease: linear(
    0,
    0.068,
    0.19 2.7%,
    0.804 8.1%,
    1.037,
    1.199 13.2%,
    1.245,
    1.27 15.8%,
    1.274,
    1.272 17.4%,
    1.249 19.1%,
    0.996 28%,
    0.949,
    0.928 33.3%,
    0.926,
    0.933 36.8%,
    1.001 45.6%,
    1.013,
    1.019 50.8%,
    1.018 54.4%,
    1 63.1%,
    0.995 68%,
    1.001 85%,
    1
  );
}
