@use '../core/variables' as *;
@use '../core/mixins' as *;

.page {
  // .page__header
  &__header {
    position: fixed;
    z-index: 17;
    top: 0;
    left: 0;

    width: 100%;
    padding: 20px 0;

    transition: all 0.5s ease;
    &.with-shadow {
      background: rgb(17 17 17 / 90%);
      box-shadow: 0 0 9px #585858;

      .header__content {
        color: $color-white;
      }

      .header__icon-text {
        color: $color-text;
        background: $color-white;
      }
    }
  }

  // .page__main-content
  &__main-content {
    position: relative;
    z-index: 8;
    inset: 0;

    width: 100%;
    height: 100%;

    &.accent-color {
      background: rgb(239 239 241 / 100%);
    }
  }

  // .page__footer
  &__footer {
    background: $background-footer;
  }
}

.main-content {
  // .main-content__content
  &__content {
    position: relative;
  }

  // .main-content__title
  &__title {
    text-align-last: left;
  }

  // .main-content__section
  &__section {
    position: relative;
    z-index: 1;

    overflow: hidden;

    width: 100%;
    height: 100%;
  }
}

//* - [ @keyframes Animations ] -

@keyframes rain {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
