.page-grid {
  pointer-events: none;

  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  &__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3.1rem;

    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;

    @media screen and (width <= 1289px) {
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      .page-grid__column {
        &:nth-child(5) {
          display: none;
        }
      }
    }

    @media screen and (width <= 1024px) {
      grid-template-columns: repeat(3, 1fr);

      .page-grid__column {
        &:nth-child(4) {
          display: none;
        }
      }
    }

    @media screen and (width <= 786px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;

      .page-grid__column {
        &:nth-child(3) {
          display: none;
        }
      }
    }

    @media screen and (width <= 540px) {
      grid-template-columns: repeat(1, 1fr);

      .page-grid__column {
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }

  // .page-grid__column
  &__column {
    width: 100%;
    height: 100%;
    background: #43f9ff17;
  }
}
