.section-reviews._container
	.section-reviews__body
		.section-reviews__head
			h2.section-reviews__title Эмоции после праздника
			p.section-reviews__subtitle Лучше любой рекламы — слова моих пар и&nbsp;клиентов в&nbsp;Telegram

		//- Обертка для скролла/сетки
		.section-reviews__wrapper

			//- Скриншот 1
			.review-card
				.review-card__image-box
					.review-card__img 
						+picture('img/reviews/reviews-1.png', 'image')
				.review-card__overlay
					span.review-card__icon
						span.icon-zoom-in

			//- Скриншот 2
			.review-card
				.review-card__image-box
					.review-card__img 
						+picture('img/reviews/reviews-2.png', 'image')
				.review-card__overlay
					span.review-card__icon
						span.icon-zoom-in

			//- Скриншот 3
			.review-card
				.review-card__image-box
					.review-card__img 
						+picture('img/reviews/reviews-3.png', 'image')
				.review-card__overlay
					span.review-card__icon
						span.icon-zoom-in

			//- Скриншот 4
			.review-card
				.review-card__image-box
					.review-card__img 
						+picture('img/reviews/reviews-4.png', 'image')
				.review-card__overlay
					span.review-card__icon
						span.icon-zoom-in
			//- Скриншот 5
			.review-card
				.review-card__image-box
					.review-card__img 
						+picture('img/reviews/reviews-5.png', 'image')
				.review-card__overlay
					span.review-card__icon
						span.icon-zoom-in