.section-services._container
	.section-services__body 
		.section-services__content
			.section-services__column
				.card
					.card__body
						.card__title
							h2 Обо мне
						.card__content 
							p pLorem ipsum dolor sit amet, consectetur adipisicing elit se do eiusmod tempor incididunt ut labore et dolore mag nasaaliqua.Ut enim ad minim veniam, quis
							ul.card__list 
								li.card__item Different of web developmentt 
								li.card__item Gun Violence Prevention
								li.card__item Eiusmod tempor incidid labore
			.section-services__column
			.section-services__column