.section-partners
	.section-partners__body._container
		.section-partners__head
			h2.section-partners__title Мне доверяют
			p.section-partners__subtitle Бренды и компании, с которыми мы создали крутые события

		.section-partners__grid

			//- Логотип 1
			.partner-item
				img.partner-item__logo(src="/img/partners/atom.webp" alt="Газпром")

			//- Логотип 2
			.partner-item
				img.partner-item__logo(src="/img/partners/devis.webp" alt="Сбер")

			//- Логотип 3
			.partner-item
				img.partner-item__logo(src="/img/partners/kolibry.webp" alt="Яндекс")

			//- Логотип 4
			.partner-item
				img.partner-item__logo(src="/img/partners/kors-group.webp" alt="Лукойл")

			//- Логотип 5
			.partner-item
				img.partner-item__logo(src="/img/partners/media-group.webp" alt="МТС")

			//- Логотип 6
			.partner-item
				img.partner-item__logo(src="/img/partners/monblan.webp" alt="Тинькофф")

			//- Логотип 7
			.partner-item
				img.partner-item__logo(src="/img/partners/new-smile.webp" alt="Альфа-Банк")

			//- Логотип 8
			.partner-item
				img.partner-item__logo(src="/img/partners/plaza.webp" alt="VK")
			//- Логотип 9
			.partner-item
				img.partner-item__logo(src="/img/partners/tehno-reklama.webp" alt="VK")
			//- Логотип 10
			.partner-item
				img.partner-item__logo(src="/img/partners/top-academ.webp" alt="VK")