.section-reviews._container
	.section-reviews__body
		.section-reviews__head
			h2.section-reviews__title Эмоции после праздника
			p.section-reviews__subtitle Лучше любой рекламы — слова моих пар и&nbsp;клиентов в&nbsp;Telegram

		//- Обертка для скролла/сетки
		.section-reviews__wrapper

			//- Скриншот 1
			.review-card
				.review-card__image-box
					img.review-card__img(src="/img/reviews/rev-01.png" alt="Отзыв 1")
				.review-card__overlay
					span.review-card__icon
						span.icon-zoom-in

			//- Скриншот 2
			.review-card
				.review-card__image-box
					img.review-card__img(src="/img/reviews/rev-01.png" alt="Отзыв 2")
				.review-card__overlay
					span.review-card__icon
						span.icon-zoom-in

			//- Скриншот 3
			.review-card
				.review-card__image-box
					img.review-card__img(src="/img/reviews/rev-01.png" alt="Отзыв 3")
				.review-card__overlay
					span.review-card__icon
						span.icon-zoom-in
