.section-approach
	.section-approach__body._container
		.section-approach__head
			h2.section-approach__title Мои принципы
			p.section-approach__subtitle Создаю атмосферу, в которой комфортно каждому гостю

		.section-approach__grid

			//- Принцип 1
			.approach-item
				.approach-item__icon-wrapper
					//- Иконка "Современность" (Абстрактная звезда/искра)
					span.approach-icon.icon-modern
				h3.approach-item__title Без пошлости и переодеваний
				p.approach-item__text Никаких конкурсов с карандашами в бутылку или неловких переодеваний гостей. Только современные интерактивы, гаджеты и уважение к личным границам.

			//- Принцип 2
			.approach-item
				.approach-item__icon-wrapper
					//- Иконка "Юмор" (Смайл/Диалог)
					span.approach-icon.icon-humor
				h3.approach-item__title Интеллигентный юмор
				p.approach-item__text Легкое общение в формате «стендап», добрая импровизация и уместный юмор. Я не «звезда» вечера, которая тянет одеяло на себя, а друг, который направляет праздник.

			//- Принцип 3
			.approach-item
				.approach-item__icon-wrapper
					//- Иконка "Техника" (Эквалайзер/Звук)
					span.approach-icon.icon-tech
				h3.approach-item__title Свой DJ и оборудование
				p.approach-item__text Работаю в слаженной команде с проверенным диджеем. Мы привозим свой комплект профессионального звука и света. Вам не нужно переживать за техническую часть.