.section-events
	.section-events__body._container
		.section-events__head
			h2.section-events__title Форматы событий
			p.section-events__subtitle Я знаю специфику каждого праздника

		.section-events__grid

			//- Карточка 1: Свадьбы
			a.event-card(href="#weddings")
				//- Обертка для картинки (нужна для зума)
				.event-card__image-box
					img.event-card__img(src="@img/events/wedding-party.jpg" alt="Проведение свадеб")

				//- Контент поверх фото
				.event-card__content
					.event-card__text
						h3.event-card__title Свадьбы
						p.event-card__desc От камерных семейных ужинов до масштабных вечеринок

					//- Кнопка-стрелка
					span.event-card__arrow
						span.icon-arrow-right

			//- Карточка 2: Корпоративы
			a.event-card(href="#corporate")
				.event-card__image-box
					img.event-card__img(src="@img/events/corp-party.jpg" alt="Корпоративы и тимбилдинги")

				.event-card__content
					.event-card__text
						h3.event-card__title Корпоративы
						p.event-card__desc Презентации, тимбилдинги и новогодние гала-ужины

					span.event-card__arrow
						span.icon-arrow-right

			//- Карточка 3: Частные события (Юбилеи)
			a.event-card(href="#private")
				.event-card__image-box
					img.event-card__img(src="@img/events/birthday.jpg" alt="Дни рождения и Юбилеи")

				.event-card__content
					.event-card__text
						h3.event-card__title Частные события
						p.event-card__desc Дни рождения, юбилеи и выпускные вечера

					span.event-card__arrow
						span.icon-arrow-right