// todo ---------------------------- Fonts -------------------------------------
// &display=swap&subset=cyrillic-ext&v=1

// @import 'https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900';
@import 'https://fonts.googleapis.com/css?family=Cormorant:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic&display=swap&subset=cyrillic-ext&v=1';

@import 'https://fonts.googleapis.com/css?family=Great+Vibes:regular&display=swap&subset=cyrillic-ext&v=1';
@import 'https://fonts.googleapis.com/css?family=Dancing+Script:regular,500,600,700&display=swap&subset=cyrillic-ext&v=1';
@import 'https://fonts.googleapis.com/css?family=Tangerine:regular,700&display=swap&subset=cyrillic-ext&v=1';

@import 'https://fonts.googleapis.com/css?family=Alex+Brush:regular&display=swap&subset=cyrillic-ext&v=1';
@import 'https://fonts.googleapis.com/css?family=Marcellus:regular';
@import 'https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic';

@import 'https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,100italic,200,200italic,300,300italic,regular,500,600,700,800&display=swap&subset=cyrillic-ext&v=1';
// @import 'https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800&display=swap&subset=cyrillic-ext&v=1';
