//* - [Variables] -

$maxWidthContainer: 1440px;

//! - [Font Variables] -
// --- Переменные (Настройте под свой проект) ---
$font-main: 'Manrope', sans-serif; // Основной шрифт
$font-hand: 'cursive'; // Шрифт для "Pf" (подключите рукописный)
$color-bg-page: #f5f5f7; // Фон секции (светло-серый)
$color-card-white: #fff;
$color-card-gray: #f2f3f5; // Фон для карточек статистики и контактов
$color-text: #111;
$color-text-light: #5f5f5f;
$color-bg-dark: #111; // Темный фон футера
$color-text-gray: #888;
$color-white: #fff;
$color-bg-input: #1f1f1f; // Фон полей ввода
$color-accent: #ff5a5f; // Красный акцент (можно поменять)
$radius-btn: 50px;
$color-white: #fff;
$color-accent: #ff5a5f; // Красный акцент (стрелки)
$radius: 32px; // Скругление углов (как на референсе)
$gap: 16px; // Отступы между карточками

$font-path: '../fonts';
$font-family-default: 'Montserrat Alternates', sans-serif;
$font-family-logo: 'Dancing Script', sans-serif;
// $font-title: 'GreatVibes' sans-serif;
// $font-title: 'DancingScript' sans-serif;
$font-title: 'Cormorant' sans-serif;

$font-weight-default: 400;
$font-size: 1.6rem;
//* - [Font color] -
$font-color-secondary: rgb(255 255 255);
//* - [Color]
// $neon-carrot: rgb(255 163 67);
$neon-carrot: rgb(255 142 67);
//* - [Background Color] -
$background: rgb(240 240 240);
$background-secondary: rgb(239 239 241);
$background-ui: rgb(87 96 105 / 100%);

$color: rgb(0 0 0 / 100%);
$color-green: rgb(16 71 28);
$color-secondary: #fff;
$border-color: hsl(251deg 37% 48%);

//* - [Shadow] -
$boxShadow: 0 0 17px 1px rgb(0 0 0 / 15%);
$filter: drop-shadow(1px 0px 3px rgb(32 25 71)) invert(5%);
//* -
$text-selection: rgb(16 71 28 / 42.5%);
$text-color-selection: rgb(16 71 28);
//* -

:root {
  --alarm-color: rgb(255 74 74 / 60%);
  --width: calc(0px + (260 - 0) * ((100vw - 320px) / (1024 - 320)));
  //* - [Background] -
  --background-transparent: rgb(14 14 19 / 85.5%);
  //* - [Scrollbar] -
  --thumb-color: rgb(16 71 28 / 37.7%);
  --background-hover: rgb(94 77 168 / 24%);
  --scrollbar-thumb-color: rgb(133 133 133 / 32.2%);
  //* ----------- --------------------------------------------------------------
  --pos: center center;
  --size: 0;
  --inset-top: 0;
  --inset-right: 100%;
  --inset-bottom: 100%;
  --inset-left: 0;
  //* --------------------------------------------------------------------------
}

$snap: cubic-bezier(1, 0.005, 0.24, 1);
$bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
