form(action="#" method="#" id="login").form-login._order-form
	.form-login__body 
		.form-login__title
			.t-h2 вход / регистрация
		.form-login__content
			.form-login__form-group
				input.email(id="email" type="email" name="email" placeholder=" " autocomplete="off" autofocus=true)
				label(for="email") Почта
			.form-login__form-group
				input.password(id="password" type="text" name="password" autocomplete="off" placeholder=" " )
				label(for="password") Пароль
		a(href="").form-login__recover
			span.link-underline-center Забыли пароль?
		.form-login__footer
			.form-login__line
				a(href="#").link-underline-center 
					span Регистрация
			.form-login__line
				a(href="#").link-underline-center 
					span Авторизоваться через 
				.form-login__icon  
					a(href="#")
						+iconfont('yandex', 'icon') 
					a(href="#")
						+iconfont('vk', 'icon')
			//- .form-login__line
				include @/pug/chunks/check-box
			.form-login__button.button-container
				button.button.send-button(type="submit" disabled)
					span Войти
		.btn-close
			+iconfont('plus', 'icon') 