@use '../../core/mixins' as *;

.section-company {
  // .section-company__body
  &__body {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-block: 0 5rem;

    @include screen-1289 {
      gap: 20px;
    }
  }

  // .section-company__row
  &__row {
    display: flex;
    gap: 3rem;

    &:nth-child(1) {
      align-items: flex-end;
      .section-company__column {
        &:nth-child(1) {
          flex-direction: column;
        }

        &:nth-child(2) {
          @include min-690 {
            min-width: 541px;
            max-width: 541px;

            @include minmax-690-1440 {
              min-width: calc(
                293px + (540 - 293) * ((100vw - 690px) / (1440 - 690))
              );
            }
          }

          @include screen-690 {
            display: none;
          }
        }
      }
    }

    &:nth-child(2) {
      .section-company__column {
        &:nth-child(1) {
          .section-company__images {
            @include minmax-980-1440 {
              max-width: calc(
                231px + (495 - 231) * ((100vw - 690px) / (1289 - 690))
              );
            }

            @include minmax-1289-1440 {
              max-width: calc(
                231px + (255 - 231) * ((100vw - 1289px) / (1440 - 1289))
              );
            }

            @include min-1289 {
              max-width: 255px;
            }
          }
        }

        &:nth-child(2) {
          @include min-1440 {
            max-width: 541px;
          }

          @include minmax-1289-1440 {
            max-width: calc(
              300px + (540 - 300) * ((100vw - 690px) / (1440 - 690))
            );
          }
        }

        @include screen-980 {
          flex-direction: column;
        }

        @include screen-690 {
          flex-direction: column-reverse;
        }
      }

      @include screen-1289 {
        flex-direction: column;

        .section-company__images {
          max-width: 100%;
        }
      }
    }

    &:nth-child(3) {
      @include screen-1289 {
        flex-direction: row-reverse;
      }

      .section-company__column {
        &:nth-child(1) {
          @include screen-820 {
            display: none;
          }
        }
        &:nth-child(2) {
          @include min-1440 {
            min-width: 541px;
            max-width: 541px;
          }

          @include minmax-1289-1440 {
            min-width: calc(
              300px + (540 - 300) * ((100vw - 690px) / (1440 - 690))
            );
          }
        }
      }
    }

    &:nth-child(4) {
      @include screen-1289 {
        flex-direction: column-reverse;
      }
    }

    @include screen-1289 {
      gap: 16px;
    }

    @include screen-490 {
      gap: 10px;
    }
  }

  // .section-company__column
  &__column {
    display: flex;
    gap: 3rem;

    &:nth-child(1) {
      flex: 0 1 auto;
    }

    @include screen-1289 {
      gap: 16px;
    }

    @include screen-490 {
      grid-area: 10px;
    }
  }

  // .section-company__info
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  // .section-company__title
  &__title {
    margin-bottom: 2rem;
    text-align: left;

    h2 {
      font-size: 35px;
      line-height: 100%;
      text-transform: uppercase;

      @include minmax-490-1440 {
        font-size: calc(17px + (35 - 17) * ((100vw - 490px) / (1440 - 490)));
      }

      @include screen-490 {
        font-size: 17px;
      }
    }

    @include screen-490 {
      margin-bottom: 10px;
    }
  }

  // .section-company__text
  &__text {
    p {
      &:not(:last-child) {
        margin-bottom: 2rem;

        @include screen-490 {
          margin-bottom: 10px;
        }
      }
    }
  }

  // .section-company__images
  &__images {
    display: flex;
    gap: 3rem;

    @include screen-490 {
      gap: 10px;
    }

    &.hidden {
      @include min-690 {
        display: none;
      }
    }
  }

  // .section-company__image
  &__image {
    img {
      border-radius: 10px;
      object-fit: contain;

      @include screen-490 {
        border-radius: 5px;
      }
    }

    @include screen-1289 {
      gap: 16px;
    }

    @include min-1024 {
      img {
        filter: grayscale(1);
        transition: filter 0.4s ease-in-out;
      }

      &:hover {
        img {
          filter: grayscale(0);
        }
      }
    }
  }

  // .section-company__list
  &__list {
    li {
      margin-bottom: 0.3rem;
      padding-left: 0.5rem;
      font-size: 14px;

      &:last-child {
        margin-bottom: 2rem;

        @include screen-490 {
          margin-bottom: 10px;
        }
      }

      @include screen-490 {
        font-size: 12px;
      }
    }
  }

  // .section-company__items
  &__items {
    &:nth-child(1) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 31px;
      align-content: stretch;

      @include screen-1289 {
        gap: 16px;
      }

      @include screen-690 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }

      @include screen-375 {
        grid-template-columns: repeat(1, 1fr);
      }

      @include screen-490 {
        grid-area: 10px;
      }
    }

    &:nth-child(2) {
      flex: 0 1 541px;

      @include screen-960 {
        flex: 1 1 auto;
      }

      @include min-1289 {
        min-width: 541px;
        max-width: 541px;

        @include minmax-690-1440 {
          min-width: calc(
            300px + (540 - 300) * ((100vw - 690px) / (1440 - 690))
          );
        }
      }
    }
  }

  // .section-company__card
  &__card {
    display: flex;
    flex-direction: column;
  }
}

.card-info {
  padding: 2.7rem 2rem;
  border: 1px solid rgb(45 47 48 / 100%);
  border-radius: 10px;

  @include screen-490 {
    border-radius: 5px;
  }

  // .card-info__title
  &__title {
    height: 100%;
    padding-bottom: 10px;
  }
  // .card-info__text
  &__text {
    flex: 1 1 auto;
    height: 100%;
  }
}
