@use '../../core/mixins' as *;

.section-news {
  overflow: hidden;
  // .section-news__body
  &__body {
    position: relative;
    padding-block: 5rem;
  }

  // .section-news__title
  &__title {
    margin-bottom: 4rem;
  }

  // .section-news__content
  &__content {
    .navigation {
      transform: translateY(-58px);
    }
  }

  // .section-news__slide
  &__slide {
    position: relative;
  }
}

.slide-news {
  width: 120%;

  @include screen-490 {
    width: 150%;
  }

  // .slide-news__slide
  &__slide {
    flex-direction: column;
    border-radius: 10px;
    background: #fff;

    @include screen-490 {
      border-radius: 5px;
    }
  }

  // .slide-news__image
  &__image {
    overflow: hidden;
    display: block;
    width: auto;
    border-radius: 10px;

    img {
      min-height: 120px;
    }

    @include screen-490 {
      border-radius: 5px;
    }
  }

  // .slide-news__info
  &__info {
    padding: 2rem;
  }

  // .slide-news__text
  &__text {
    margin-bottom: 1.8rem;
    font-size: 14px;

    @include screen-490 {
      font-size: 12px;
    }
  }

  // .slide-news__date
  &__date {
    font-size: 12px;
  }
}
