@import 'variables';

@font-face {
  font-family: '#{$icomoon-font-family}';
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?99rzes');
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?99rzes#iefix')
      format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?99rzes')
      format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?99rzes')
      format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?99rzes##{$icomoon-font-family}')
      format('svg');
}

[class^='icon-'],
[class*=' icon-'] {
  speak: never;

  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  text-transform: none;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
}

.icon-location {
  &::before {
    content: $icon-location;
  }
}
.icon-check-box {
  &::before {
    content: $icon-check-box;
  }
}
.icon-pencil-alt {
  &::before {
    content: $icon-pencil-alt;
  }
}
.icon-check5 {
  &::before {
    content: $icon-check5;
  }
}
.icon-check4 {
  &::before {
    content: $icon-check4;
  }
}
.icon-check3 {
  &::before {
    content: $icon-check3;
  }
}
.icon-check2 {
  &::before {
    content: $icon-check2;
  }
}
.icon-check1 {
  &::before {
    content: $icon-check1;
  }
}
.icon-check {
  &::before {
    content: $icon-check;
  }
}
.icon-volume-control-phone {
  &::before {
    content: $icon-volume-control-phone;
  }
}
.icon-phone-call {
  &::before {
    content: $icon-phone-call;
  }
}
.icon-vk-draw {
  &::before {
    content: $icon-vk-draw;
  }
}
.icon-telegram-draw {
  &::before {
    content: $icon-telegram-draw;
  }
}
.icon-whatsapp-draw {
  &::before {
    content: $icon-whatsapp-draw;
  }
}
.icon-contacts {
  &::before {
    content: $icon-contacts;
  }
}
.icon-arrow-down {
  &::before {
    content: $icon-arrow-down;
  }
}
.icon-arrow-left {
  &::before {
    content: $icon-arrow-left;
  }
}
.icon-arrow-right {
  &::before {
    content: $icon-arrow-right;
  }
}
.icon-arrow-up {
  &::before {
    content: $icon-arrow-up;
  }
}
