@font-face {
  font-family: 'icon-set';
  src:  url('fonts/icon-set.eot?vq70q7');
  src:  url('fonts/icon-set.eot?vq70q7#iefix') format('embedded-opentype'),
    url('fonts/icon-set.ttf?vq70q7') format('truetype'),
    url('fonts/icon-set.woff?vq70q7') format('woff'),
    url('fonts/icon-set.svg?vq70q7#icon-set') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-set' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e90f";
}
.icon-check-box:before {
  content: "\e900";
}
.icon-pencil-alt:before {
  content: "\e901";
}
