$icomoon-font-family: "icon-set" !default;
$icomoon-font-path: "fonts" !default;

$icon-whatsapp: unquote('"\\f232"');
$icon-phone-call: unquote('"\\e919"');
$icon-telegram: unquote('"\\f2c6"');
$icon-yandex: unquote('"\\e918"');
$icon-angle-down: unquote('"\\f107"');
$icon-sum: unquote('"\\e914"');
$icon-rub: unquote('"\\f159"');
$icon-vk: unquote('"\\ea98"');
$icon-pointer-right: unquote('"\\e915"');
$icon-pointer-left: unquote('"\\e916"');
$icon-pointer: unquote('"\\e917"');
$icon-phone-outbound: unquote('"\\e910"');
$icon-paragraph-right: unquote('"\\e90f"');
$icon-local: unquote('"\\e90e"');
$icon-house-hall: unquote('"\\e900"');
$icon-persons: unquote('"\\e901"');
$icon-clock: unquote('"\\e902"');
$icon-union: unquote('"\\e904"');
$icon-car: unquote('"\\e905"');
$icon-patch-plus: unquote('"\\e906"');
$icon-heart-like: unquote('"\\e9da"');
$icon-house: unquote('"\\e907"');
$icon-tools: unquote('"\\e908"');
$icon-person: unquote('"\\e909"');
$icon-search: unquote('"\\e90a"');
$icon-cart: unquote('"\\e90b"');
$icon-telephone: unquote('"\\e90c"');
$icon-bar-chart: unquote('"\\e90d"');
$icon-minus: unquote('"\\e912"');
$icon-plus: unquote('"\\e913"');
$icon-heart: unquote('"\\e903"');
$icon-recycle: unquote('"\\e911"');
$icon-arrow-down: unquote('"\\e92c"');
$icon-arrow-up: unquote('"\\e95c"');
$icon-arrow-left: unquote('"\\e92d"');
$icon-arrow-right: unquote('"\\e950"');

