$icomoon-font-family: "icon-set" !default;
$icomoon-font-path: "fonts" !default;

$icon-location: unquote('"\\e909"');
$icon-check-box: unquote('"\\e900"');
$icon-pencil-alt: unquote('"\\e901"');
$icon-check5: unquote('"\\e910"');
$icon-check4: unquote('"\\e911"');
$icon-check3: unquote('"\\e912"');
$icon-check2: unquote('"\\e913"');
$icon-check1: unquote('"\\e914"');
$icon-check: unquote('"\\e90f"');
$icon-volume-control-phone: unquote('"\\f2a0"');
$icon-phone-call: unquote('"\\e915"');
$icon-vk-draw: unquote('"\\e902"');
$icon-telegram-draw: unquote('"\\e903"');
$icon-whatsapp-draw: unquote('"\\e904"');
$icon-contacts: unquote('"\\e907"');
$icon-arrow-down: unquote('"\\e92c"');
$icon-arrow-left: unquote('"\\e92d"');
$icon-arrow-right: unquote('"\\e950"');
$icon-arrow-up: unquote('"\\e95c"');

