.section-news._container
  .section-news__body
    .section-news__title
      h2.t-h2 другие новости
    .section-news__content
      .section-news__slide
        .slide-news.swiper
          each item in news 
            .slide-news__slide
              a(href=linkTo("news-company/news-24022025", filename)).slide-news__image
                +picture('/img/news/' + item.image, 'image')
              .slide-news__info
                .slide-news__text= item.text
                .slide-news__date= item.data
        .navigation
          .navigation__prev.btn-prev
            .navigation__icon
              +iconfont('arrow-left', 'icon')
          .navigation__next.btn-next
            .navigation__icon
              +iconfont('arrow-right', 'icon')