.news._container 
	.news__body
		.news__row 
			.news__content
				.news__image 
					+picture('/img/news/img-news-01.png', 'image')
					+picture('/img/news/img-news-01.png', 'image')
					+picture('/img/news/img-news-01.png', 'image')
					+picture('/img/news/img-news-01.png', 'image')
				hgroup.news__title 
					h1.t-h2 Как выбрать перфоратор: 5&nbsp;ключевых критериев для&nbsp;правильного выбора
					p.news__data 24.02.2025
					p.news__text Перфоратор — незаменимый инструмент как&nbsp;для&nbsp;домашнего мастера, так&nbsp;и&nbsp;для&nbsp;профессионального строителя. Он позволяет не только сверлить бетон, камень и кирпич, но и&nbsp;выполнять ударное сверление и&nbsp;долбление. Чтобы&nbsp;подобрать модель, которая идеально подойдет именно вам, важно учитывать несколько ключевых критериев. 
				.news__line
					.news__title
						h2.t-h3 Основные критерии выбора перфоратора
					.news__num 1. Мощность и энергия удара
					p Чем выше мощность и энергия удара, тем легче инструмент справится с тяжелыми материалами. Для бытового использования достаточно 1–2 Дж, а для профессиональной работы рекомендуется от 3 Дж и выше.
				.news__line
					.news__num 2. Режимы работы
					p Современные перфораторы имеют разное количество режимов:	
						ul.news__list 
							li.news__list-item Сверление
							li.news__list-item Сверление с ударом
							li.news__list-item Режим отбойного молотка (долбление)
						p Трех режимные модели универсальны и подходят для большинства задач.
				.news__line
					.news__num 3. Тип патрона
					p Наиболее популярные типы патронов:
						ul.news__list  
							li.news__list-item  SDS-plus — для бытовых и средних нагрузок
							li.news__list-item  SDS-max — для тяжелых моделей и промышленного применения
							li.news__list-item  Патрон SDS обеспечивает надежную фиксацию оснастки и удобную замену без ключа.
				.news__line
					.news__num 4. Вес и эргономика
					p Для комфортной работы важно, чтобы инструмент не был слишком тяжелым. Легкие модели (2–3 кг) подходят для точных работ, а тяжелые (5–7 кг) — для длительного долбления.
				.news__line
					.news__num 5. Производитель и цена
					p Выбирайте проверенные бренды, такие как Bosch , Makita , DeWalt , Metabo , AEG . Цены варьируются от 6 000 ₽ за базовые модели до 50 000 ₽ и более за профессиональные.
		.news__post
			.news__text
				+picture( '/img/news/image.png', 'image')
			.news__text
				p Выбор перфоратора зависит от&nbsp;ваших целей — будь то&nbsp;мелкий ремонт дома или&nbsp;ежедневная работа на&nbsp;стройке. Обратите внимание на&nbsp;мощность, режимы работы, вес и&nbsp;производителя. Если вы планируете использовать инструмент часто, лучше выбирать профессиональные модели с&nbsp;высокой энергией удара и&nbsp;хорошим запасом прочности.
				p Не забудьте также&nbsp;приобрести дополнительную оснастку и&nbsp;защитные аксессуары для&nbsp;безопасной и&nbsp;эффективной работы!

