@use '../../core/variables' as *;
@use '../../core/mixins' as *;

.product-categories {
  // .product-categories__body
  &__body {
    padding-block: 3.6rem 5rem;

    @include screen-490 {
      padding-block: 1.6rem 5rem;
    }
  }

  // .product-categories__content
  &__content {
    display: grid;
    grid-template-columns:
      // calc(208px + (255 - 208) * ((100vw - 768px) / (1920 - 768)))
      // auto;
      255px 1fr;
    gap: 3.1rem;

    @include screen-1289 {
      gap: 20px;
    }

    @include screen-768 {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }

  // .product-categories__column
  &__column {
    width: auto;

    &:nth-child(2) {
      overflow: hidden;
    }
  }

  // .product-categories__header
  &__header {
    display: flex;
    gap: 3rem;
    align-items: center;

    margin-bottom: 12px;
    padding: 10px 0;

    font-size: 16px;

    @include screen-490 {
      font-size: 14px;
    }
  }

  // .product-categories__type
  &__type {
    pointer-events: none;
    display: flex;
  }

  // .product-categories__buttons
  &__buttons {
    display: flex;
    gap: 2rem;
  }

  &__button {
    font-size: 16px;
    line-height: 118.75%; /* 19px/16 */

    @include screen-490 {
      font-size: 14px;
    }
  }

  // .product-categories__slide
  &__slide {
    width: 100%;
    margin-bottom: 3rem;

    .product-slide {
      // .product-slide__body
      &__body {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(4, minmax(auto, 255px));
        gap: 3.1rem;

        width: 100%;

        @include screen-1289 {
          grid-template-columns: repeat(3, minmax(auto, 1fr));
          gap: 2rem;
        }

        @include screen-1068 {
          grid-template-columns: repeat(2, minmax(auto, 1fr));
        }

        @include screen-768 {
          grid-template-columns: repeat(2, minmax(auto, 1fr));
          gap: 20px;
        }

        @include screen-540 {
          grid-template-columns: repeat(1, minmax(auto, 1fr));
          gap: 20px;
        }
      }
    }
  }

  // .product-categories__pagination
  &__pagination {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 40px;

    .swiper-pagination-bullet {
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 3rem;
      height: 3rem;
      border-radius: 50%;

      font-size: 16px;
      font-weight: 400;
      line-height: 118.75%; /* 19px/16 */

      transition:
        color 0.3s,
        box-shadow 0.3s ease-in-out;

      &:hover {
        color: $color-green;
        box-shadow: 0 0 10px 5px #00000017;
      }
    }
  }
}
