extends @/pug/layouts/app_layout

append link
prepend script
	script(defer type="module" src="/src/js/about.js")
block title
	- var text='Page 404'

block page
	body
		include @/pug/utils/loaded-timer
		include @/pug/includes/mixins
		script(defer type="module" src="/src/js/main.js")
		.wrapper
			.page
				block header 
					header.page__header
						include @/pug/layouts/header
						nav.page__dropdown-menu 
							block dropdown-menu 
								include @/pug/components/dropdown-menu 
				block page-content 
					block main-content 
						include @/pug/components/section-404
				nav.page__aside-menu
					block burger-menu
						include @/pug/components/sidebar-menu
				block menu-float
					.menu-float
						.menu-float__body._container
			.page__form-login
				include @/pug/components/modal-login 
			.page__order-call
				include @/pug/components/order-call 
			.page__widget
