extends @/pug/layouts/app_layout

append link
prepend script
	script(defer type="module" src="/src/js/about.js")
block title
	- var text='About page'

block main-content 
	section.main-content__section
		include @/pug/sections/about/section-about-company
	section.main-content__section
		include @/pug/sections/index/section-partners
	section.main-content__section
		include @/pug/sections/index/section-collections