extends @/pug/layouts/app_layout.pug

append link 
prepend script 
	//- script(defer type="module" src="/src/js/index.js")
block title
	- var text = 'Home page'

block main-content 
	section.main-content__section
		include @/pug/sections/section-hero
	section.main-content__section.accent-color
		include @/pug/sections/section-about
	section.main-content__section 
		include @/pug/sections/section-promo
	section.main-content__section 
		include @/pug/sections/section-approach
	section.main-content__section
		include @/pug/sections/section-events
	section.main-content__section
		include @/pug/sections/section-price
	section.main-content__section
		include @/pug/sections/section-reviews 
	section.main-content__section
		include @/pug/sections/section-partners
	section.main-content__section
		include @/pug/sections/section-faq 