.mobile-menu.sidebar-menu
	.mobile-menu__header
		.heaer__logo
			.header__icon-logo
				.header__icon-text
					span К
				.header__link
					a(href) kushnarenko.net
	.mobile-menu__body 
		.mobile-menu__content.bp-1