.footer._container
	.footer__body 
		.footer__content 
			.footer__column 
				.footer__logo 
					img(src="/img/logo-h.svg" alt="logo") 
				.footer__text Ваш надежный поставщик строительных материалов, инструментов и товаров для&nbsp;ремонта.
				.footer__text
					a.link-underline-center(href="" target="_blank" rel="noopener noreferrer nofollow") Политика конфиденциальности
				.footer__text 
					a.link-underline-center(href="" target="_blank") Договор оферты
			.footer__column 
				.footer__title
					h5.t-h5 каталог
				.footer__catalog 
					ul.footer__links-col
						li
							a(href="#").footer__link.link-underline-center Строительные материалы
						li
							a(href="#").footer__link.link-underline-center Электроинструмент
						li
							a(href="#").footer__link.link-underline-center Бензоинструмент
						li
							a(href="#").footer__link.link-underline-center Пиломатериалы
						li
							a(href="#").footer__link.link-underline-center Электротовары
						li
							a(href="#").footer__link.link-underline-center Сантехника
						li
							a(href="#").footer__link.link-underline-center Крепеж и метизы
					ul.footer__links-col
						li
							a(href="#").footer__link.link-underline-center Измерительные приборы
						li
							a(href="#").footer__link.link-underline-center Ручной инструмент
						li
							a(href="#").footer__link.link-underline-center Товары для сада и огорода
						li
							a(href="#").footer__link.link-underline-center Краски и химия
						li
							a(href="#").footer__link.link-underline-center Металл
						li
							a(href="#").footer__link.link-underline-center Сопутствующие товары
						li
							a(href="#").footer__link.link-underline-center Товары со скидкой
			.footer__column 
				.footer__links 
					.footer__title
						h5.t-h5 информация
					ul.footer__links-col
						li 
							a(href=linkTo("about", filename)).footer__link.link-underline-center О магазине
						li 
							a(href=linkTo("news", filename)).footer__link.link-underline-center Новости
						li 
							a(href="#").footer__link.link-underline-center Производители
						li 
							a(href="#").footer__link.link-underline-center Реквизиты
						li 
							a(href="#").footer__link.link-underline-center Оплата и доставка
						li 
							a(href="#").footer__link.link-underline-center Личный кабинет
						li 
							a(href="#").footer__link.link-underline-center Избранное 
			.footer__column 
				.footer__links 
					.footer__title
						h5.t-h5 контакты
					.footer__links-col 
						a.footer__phone(href="tel:+89611205000")
							span.link-underline-center 8&nbsp;961&nbsp;120&nbsp;50-00 
						.footer__text Боровский район, деревня Тимашово строение 3 
					.footer__links-col 
						.footer__title
							h5.t-h5 режим работы
						.footer__text Пн-вс 08:00-19:00
