.header._container 
	.header__content
		a(href="#home").heaer__logo 
			.header__icon-logo
				.header__icon-text 
					span К
				.header__link  
					span kushnarenko.net
		.header__top-menu(data-da="bp-1" data-da-position="0" data-da-resolution="960")   
			nav.top-menu
				.top-menu__list 
					//- a(href="#home").top-menu__item.anchor-link
						.top-menu__link О нас
					a(href="#about").top-menu__item.anchor-link
						.top-menu__link О нас
					a(href="#promo").top-menu__item.anchor-link
						.top-menu__link Видео
					a(href="#events").top-menu__item.anchor-link
						.top-menu__link Мероприятия
					a(href="#service").top-menu__item.anchor-link 
						.top-menu__link Услуги
					a(href="#contacts").top-menu__item.anchor-link
						.top-menu__link Контакты
			span.effect.filter
			span.effect.text.hidden
		.header__contacts 
			a.top-menu__link(href="tel:+9106071900") +7 910 607-19-00
			.header__burger-button
				include @/pug/assets/burger-button
