.header._container 
	.header__content
		.heaer__logo 
			.header__icon-logo
				.header__icon-text 
					span К
				.header__link 
					a(href="") kushnarenko.net
		.header__top-menu
			//- .top-menu__wrapper
			nav.top-menu(data-da="sidebar-menu__body" data-da-position="0" data-da-resolution="690")   
				ul.top-menu__list 
					li.top-menu__item
						a(href="#events").top-menu__link.anchor-link Мероприятия
					li.top-menu__item
						a(href="#promo").top-menu__link.anchor-link Видео
					li.top-menu__item
						a(href=("#about")).top-menu__link.anchor-link О нас
					li.top-menu__item
						a(href=("#service")).top-menu__link.anchor-link Услуги
					//- li.top-menu__item
						a(href=linkTo("news", filename)).top-menu__link.link-underline-center Новости
					li.top-menu__item
						a(href="#contacts").top-menu__link.anchor-link Контакты
			span.effect.filter
			span.effect.text.active.hidden
		.header__contacts 
			a.top-menu__link(href="tel:+9106071900") +7 910 607-19-00
		.header__burger-button
			.burger-wrapp.toggle-menu-3
				svg(viewBox="10 6 44 36")
					path(d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37")
					path(d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24")
					path(d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37")