.header._container 
	.header__content
		.heaer__logo 
			.header__icon-logo
				.header__icon-text 
					span К
				.header__link 
					a(href="") kushnarenko.net
		.header__top-menu
			.top-menu__wrapper
				.top-menu(data-da="sidebar-menu__body" data-da-position="0" data-da-resolution="690")   
					ul.top-menu__list 
						li.top-menu__item
							a(href=linkTo('404', filename)).top-menu__link.link-underline-center Мероприятия
						li.top-menu__item
							a(href="#").top-menu__link.link-underline-center Видео
						li.top-menu__item
							a(href=linkTo("about", filename)).top-menu__link.link-underline-center О нас
						li.top-menu__item
							a(href=linkTo("news", filename)).top-menu__link.link-underline-center Услуги
						li.top-menu__item
							a(href=linkTo("news", filename)).top-menu__link.link-underline-center Новости
						li.top-menu__item
							a(href="#").top-menu__link.link-underline-center Контакты
		.header__contacts 
			a.top-menu__link(href="tel:+000000000") +7 999 000-00 -00