@use '../core/variables' as *;
//* Functional styling;
//* These styles are required for noUiSlider to function.
//* You don't need to change these rules to apply your design.
.noUi-target,
.noUi-target * {
  touch-action: none;
  user-select: none;
  box-sizing: border-box;
}

.noUi-base,
.noUi-connects {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
//* Styling;
// * Giving the connect element a border radius causes issues with using transform: scale
.noUi-target {
  position: relative;
  // border: 1px solid #b1b1b1;
  border-radius: 20%;
  background: #b1b1b1;
}
.noUi-connects {
  z-index: 0;
  // overflow: hidden;
  border-radius: 3px;
}
.noUi-connect {
  background: $background-ui;
}

//* Wrapper for all connect elements.

.noUi-connect,
.noUi-origin {
  will-change: transform;

  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  transform-origin: 0 0;
  transform-style: flat;

  width: 100%;
  height: 3px;
  // height: 100%;
}
//* Offset direction
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  right: auto;
  left: 0;
}
//* Give origins 0 height/width so they don't interfere with clicking the
//* connect elements.
.noUi-vertical .noUi-origin {
  top: -100%;
  width: 0;
}
.noUi-horizontal .noUi-origin {
  height: 0;
}
.noUi-handle {
  cursor: grab;

  position: absolute;

  border: 2px solid $background-ui;
  border-radius: 1px;

  backface-visibility: hidden;
  background: $background;
}

.noUi-touch-area {
  transform: translate(5%, 5%);
  width: 100%;
  height: 100%;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  transition: transform 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
///* Slider size and handle placement;
.noUi-horizontal {
  height: 3px;
}
.noUi-horizontal .noUi-handle {
  top: -7px;
  right: -8px;

  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.noUi-vertical {
  width: 15px;
}
.noUi-vertical .noUi-handle {
  right: -6px;
  bottom: -10px;
  width: 15px;
  height: 15px;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  right: auto;
  left: -17px;
}

//* Handles and cursors;
.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-active {
  cursor: grabbing;
  .noUi-tooltip {
    display: block;
  }
}

//* Handle stripes;
.noUi-handle::before {
  content: '';

  position: absolute;
  top: 2px;
  left: 3px;

  display: block;

  width: 1px;
  height: 7px;

  background: $background-ui;
}

.noUi-handle::after {
  content: '';

  position: absolute;
  top: 2px;
  left: 6.5px;

  display: block;

  width: 1px;
  height: 7px;

  background: $color;
}
.noUi-vertical .noUi-handle::before,
.noUi-vertical .noUi-handle::after {
  top: 0;
  left: 6px;
  width: 14px;
  height: 1px;
}
.noUi-vertical .noUi-handle::after {
  top: 17px;
}
//* Disabled state;
[disabled] .noUi-connect {
  background: #b8b8b8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}
//* Base;
.noUi-pips,
.noUi-pips * {
  box-sizing: border-box;
}
.noUi-pips {
  position: absolute;
  color: #999;
}
//* Values;
.noUi-value {
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.noUi-value-sub {
  font-size: 10px;
  color: #ccc;
}
//* Markings;
.noUi-marker {
  position: absolute;
  background: #ccc;
}
.noUi-marker-sub {
  background: #aaa;
}
.noUi-marker-large {
  background: #aaa;
}

//* Horizontal layout;
.noUi-pips-horizontal {
  top: 100%;
  left: 0;

  width: 100%;
  height: 80px;
  padding: 10px 0;
}
.noUi-value-horizontal {
  transform: translate(-50%, 50%);
}
.noUi-rtl .noUi-value-horizontal {
  transform: translate(50%, 50%);
}
.noUi-marker-horizontal.noUi-marker {
  width: 2px;
  height: 5px;
  margin-left: -1px;
}
.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
//* Vertical layout;
.noUi-pips-vertical {
  top: 0;
  left: 100%;
  height: 100%;
  padding: 0 10px;
}
.noUi-value-vertical {
  transform: translate(0, -50%);
  padding-left: 25px;
}
.noUi-rtl .noUi-value-vertical {
  transform: translate(0, 50%);
}
.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}
.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}
.noUi-tooltip {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translate(-50%, -150%);

  display: none;

  padding: 0 0.5rem;
  border: 1px solid $background-ui;
  border-radius: 5px;

  line-height: 30px;
  color: #2e2e2e;
  text-align: center;
  white-space: nowrap;

  background: $background;
  font: {
    size: 11px;

    weight: 400;
  }
}
