.info._container 
	.info__body 
		.info__content
			.info__text.content 
				.info__wrapper
					.info__section.section 
						p В разделе «Лидеры продаж» представлены самые востребованные и популярные у покупателей строительные инструменты и оборудование, актуальные для профессионалов и частных застройщиков в Обнинске. Здесь вы найдете продукцию, которая сочетает надежность, высокое качество и оптимальное соотношение цены и функциональности.
					.info__section.section 
						p В разделе «Лидеры продаж» представлены самые востребованные и популярные у покупателей строительные инструменты и оборудование, актуальные для профессионалов и частных застройщиков в Обнинске. Здесь вы найдете продукцию, которая сочетает надежность, высокое качество и оптимальное соотношение цены и функциональности.
					.info__section.section 
						p В разделе «Лидеры продаж» представлены самые востребованные и популярные у покупателей строительные инструменты и оборудование, актуальные для профессионалов и частных застройщиков в Обнинске. Здесь вы найдете продукцию, которая сочетает надежность, высокое качество и оптимальное соотношение цены и функциональности.
				.info__button.show-more
					span.link-underline-center Узнать больше
			.info__text 
				p Топ-продукты включают:
				ul.info__list 
					li Электроинструменты (дрели, перфораторы, шуруповёрты) от проверенных брендов;
					li Силовая техника (бетономешалки, сварочные аппараты);
					li Измерительные приборы (лазерные уровни, дальномеры);
					li Ручной инструмент и оснастка, необходимая на любом этапе строительства;
					li Оборудование для уборки и подготовки поверхностей (пылесосы промышленные, моющие машины).
					li Все товары доступны с доставкой по Обнинску и области. Раздел регулярно обновляется, чтобы всегда отражать актуальные тренды и потребности рынка.