.categories._container  
	.categories__body 
		.categories__title 
			h2.t-h2 Категории товаров
		.categories__content 
			each product in categories
				a(href=linkTo("categories/electric-tools", filename)).categories-card 
					.categories-card__body 
						.categories-card__image
							+picture('img/catalog/electric-tools/' + product.image, 'image')
						.categories-card__info=product.info