//- .main-content__bread-crumbs
nav.bread-crumbs._container
	.bread-crumbs__body
		ul.bread-crumbs__list
			li.link-underline-center
				a.bread-crumbs__link(href=getWebRoot(filename) + "index.html" title="/ Главная") Главная 
			li
				span.bread-crumbs__current-item / Каталог товаров (Электроинструменты)