.categories-filter._slideToggleOne 
	.categories-filter__title._trigger Фильтр:
	.categories-filter__body 
		.categories-filter__body-wrapper
			form(action="#" method="post").form-categories.categories-filter__form
				.form-categories__filter
					.form-categories__type Цена:
					.values-price.categories-filter__price 
						.values-price__current-price
							.values-price__item
								label(for="price-start").values-price__label от
								.values-price__input
									input(id="price-start" value="0") 
							.values-price__item
								label(for="price-end").values-price__label до
								.values-price__input
									input(id="price-end" value="1000000").input
					.values-price__no-ui
				fieldset.form-categories__item._slideToggleOne 
					.form-categories__type._trigger
						span Производитель
						+iconfont('pointer-right', 'icon')
					.form-categories__select._collapse
						.form-categories__wrapper.content
							.form-categories__section.section
								label.form-categories__label 
									input(type="radio" name="level-1" value="Брэнд-1")
									| Брэнд-1
								label.form-categories__label 
									input(type="radio" name="level-1" value="Брэнд-2")
									| Брэнд-2
								label.form-categories__label 
									input(type="radio" name="level-1" value="Брэнд-3")
									| Брэнд-3
								label.form-categories__label 
									input(type="radio" name="level-1" value="Брэнд-4")
									| Брэнд-4
								label.form-categories__label 
									input(type="radio" name="level-1" value="Брэнд-5")
									| Брэнд-5
								label.form-categories__label 
									input(type="radio" name="level-1" value="Брэнд-6")
									| Брэнд-6
								label.form-categories__label 
									input(type="radio" name="level-1" value="Брэнд-7")
									| Брэнд-7
								label.form-categories__label 
									input(type="radio" name="level-1" value="Брэнд-8")
									| Брэнд-8
							.form-categories__section.section
								label.form-categories__label 
									input(type="radio" name="level-1" value="Брэнд-9")
									| Брэнд-9
								label.form-categories__label 
									input(type="radio" name="level-1" value="Брэнд-10")
									| Брэнд-10
								label.form-categories__label 
									input(type="radio" name="level-1" value="Брэнд-11")
									| Брэнд-11
								label.form-categories__label 
									input(type="radio" name="level-1" value="Брэнд-12")
									| Брэнд-12
							.form-categories__show-more.show-more
								span.link-underline-center Показать еще
								+iconfont('pointer-right', 'icon')
				fieldset.form-categories__item._slideToggleOne 
					.form-categories__type._trigger
						span Материал-1
						+iconfont('pointer-right', 'icon')
					.form-categories__select._collapse
						.form-categories__wrapper.content 
							.form-categories__section.section 
								label.form-categories__label 
									input(type="radio" name="level-2-3" value="Брэнд-1")
									| Брэнд-1
								label.form-categories__label 
									input(type="radio" name="level-2-3" value="Брэнд-2")
									| Брэнд-2
								label.form-categories__label 
									input(type="radio" name="level-2-3" value="Брэнд-3")
									| Брэнд-3
								label.form-categories__label 
									input(type="radio" name="level-2-3" value="Брэнд-4")
									| Брэнд-4
								label.form-categories__label 
									input(type="radio" name="level-2-3" value="Брэнд-5")
									| Брэнд-5
							.form-categories__section.section
								label.form-categories__label 
									input(type="radio" name="level-2-3" value="Брэнд-6")
									| Брэнд-6
								label.form-categories__label 
									input(type="radio" name="level-2-3" value="Брэнд-7")
									| Брэнд-7
								label.form-categories__label 
									input(type="radio" name="level-2-3" value="Брэнд-8")
									| Брэнд-8
								label.form-categories__label 
									input(type="radio" name="level-2-3" value="Брэнд-9")
									| Брэнд-9
							.form-categories__show-more.show-more
								span.link-underline-center  Показать еще
								+iconfont('pointer-right', 'icon')
				fieldset.form-categories__item._slideToggleOne 
					.form-categories__type._trigger
						span Материал-2
						+iconfont('pointer-right', 'icon')
					.form-categories__select._collapse
						.form-categories__wrapper.content 
							.form-categories__section.section 
								label.form-categories__label 
									input(type="radio" name="level-3" value="Брэнд-1")
									| Брэнд-1
								label.form-categories__label 
									input(type="radio" name="level-3" value="Брэнд-2")
									| Брэнд-2
								label.form-categories__label 
									input(type="radio" name="level-3" value="Брэнд-3")
									| Брэнд-3
								label.form-categories__label 
									input(type="radio" name="level-3" value="Брэнд-4")
									| Брэнд-4
								label.form-categories__label 
									input(type="radio" name="level-3" value="Брэнд-5")
									| Брэнд-5
							.form-categories__section.section
								label.form-categories__label 
									input(type="radio" name="level-3" value="Брэнд-6")
									| Брэнд-6
								label.form-categories__label 
									input(type="radio" name="level-3" value="Брэнд-7")
									| Брэнд-7
								label.form-categories__label 
									input(type="radio" name="level-3" value="Брэнд-8")
									| Брэнд-8
								label.form-categories__label 
									input(type="radio" name="level-3" value="Брэнд-9")
									| Брэнд-9
							.form-categories__show-more.show-more
								span.link-underline-center Показать еще
								+iconfont('pointer-right', 'icon')
				fieldset.form-categories__item._slideToggleOne 
					.form-categories__type._trigger
						span Материал-3
						+iconfont('pointer-right', 'icon')
					.form-categories__select._collapse
						.form-categories__wrapper.content 
							.form-categories__section.section 
								label.form-categories__label 
									input(type="radio" name="level-3" value="Брэнд-1")
									| Брэнд-1
								label.form-categories__label 
									input(type="radio" name="level-3" value="Брэнд-2")
									| Брэнд-2
								label.form-categories__label 
									input(type="radio" name="level-3" value="Брэнд-3")
									| Брэнд-3
								label.form-categories__label 
									input(type="radio" name="level-3" value="Брэнд-4")
									| Брэнд-4
								label.form-categories__label 
									input(type="radio" name="level-3" value="Брэнд-5")
									| Брэнд-5
							.form-categories__section.section
								label.form-categories__label 
									input(type="radio" name="level-3" value="Брэнд-6")
									| Брэнд-6
								label.form-categories__label 
									input(type="radio" name="level-3" value="Брэнд-7")
									| Брэнд-7
								label.form-categories__label 
									input(type="radio" name="level-3" value="Брэнд-8")
									| Брэнд-8
								label.form-categories__label 
									input(type="radio" name="level-3" value="Брэнд-9")
									| Брэнд-9
							.form-categories__show-more.show-more
								span.link-underline-center Показать еще
								+iconfont('pointer-right', 'icon')
				fieldset.form-categories__item._slideToggleOne 
					.form-categories__type._trigger
						span Материал-4
						+iconfont('pointer-right', 'icon')
					.form-categories__select._collapse
						.form-categories__wrapper.content 
							.form-categories__section.section 
								label.form-categories__label 
									input(type="radio" name="level-4" value="Брэнд-1")
									| Брэнд-1
								label.form-categories__label 
									input(type="radio" name="level-4" value="Брэнд-2")
									| Брэнд-2
								label.form-categories__label 
									input(type="radio" name="level-4" value="Брэнд-3")
									| Брэнд-3
								label.form-categories__label 
									input(type="radio" name="level-4" value="Брэнд-4")
									| Брэнд-4
								label.form-categories__label 
									input(type="radio" name="level-4" value="Брэнд-5")
									| Брэнд-5
							.form-categories__section.section
								label.form-categories__label 
									input(type="radio" name="level-4" value="Брэнд-6")
									| Брэнд-6
								label.form-categories__label 
									input(type="radio" name="level-4" value="Брэнд-7")
									| Брэнд-7
								label.form-categories__label 
									input(type="radio" name="level-4" value="Брэнд-8")
									| Брэнд-8
								label.form-categories__label 
									input(type="radio" name="level-4" value="Брэнд-9")
									| Брэнд-9
							.form-categories__show-more.show-more
								span.link-underline-center Показать еще
								+iconfont('pointer-right', 'icon')
				fieldset.form-categories__item._slideToggleOne 
					.form-categories__type._trigger
						span Материал-5
						+iconfont('pointer-right', 'icon')
					.form-categories__select._collapse
						.form-categories__wrapper.content 
							.form-categories__section.section 
								label.form-categories__label 
									input(type="radio" name="level-5" value="Брэнд-1")
									| Брэнд-1
								label.form-categories__label 
									input(type="radio" name="level-5" value="Брэнд-2")
									| Брэнд-2
								label.form-categories__label 
									input(type="radio" name="level-5" value="Брэнд-3")
									| Брэнд-3
								label.form-categories__label 
									input(type="radio" name="level-5" value="Брэнд-4")
									| Брэнд-4
								label.form-categories__label 
									input(type="radio" name="level-5" value="Брэнд-5")
									| Брэнд-5
							.form-categories__section.section
								label.form-categories__label 
									input(type="radio" name="level-5" value="Брэнд-6")
									| Брэнд-6
								label.form-categories__label 
									input(type="radio" name="level-5" value="Брэнд-7")
									| Брэнд-7
								label.form-categories__label 
									input(type="radio" name="level-5" value="Брэнд-8")
									| Брэнд-8
								label.form-categories__label 
									input(type="radio" name="level-5" value="Брэнд-9")
									| Брэнд-9
							.form-categories__show-more.show-more
								span.link-underline-center Показать еще
								+iconfont('pointer-right', 'icon')
				button(type="reset").form-categories__button.button
					span Сбросить фильтр
		.categories-filter__banner
			a(href=linkTo("catalog/discount-products", filename)).categories-filter__image
				+picture('/img/catalog/banner.png',  'image') 
			.categories-filter__text 
				| Lorem, ipsum dolor esse expedita nemo soluta iste!