// todo --------------------------- Fonts --------------------------------------
@use 'core/fonts';
@use 'core/fonts-import';
// todo --------------------------- layout -------------------------------------
@use 'layouts/page';
@use 'layouts/bem-block';
@use 'layouts/header';
@use 'layouts/footer';
//todo  --------------------------- Icon Fonts ---------------------------------
@use 'core/iconfonts';
//todo  --------------------------- Core ---------------------------------------
@use 'core/reset' as *;
@use 'core/variables' as *;
@use 'core/mixins' as *;
@use 'core/extend' as *;
// todo --------------------------- utils ------------------------------------
@use 'utils/loaded-timer';
// todo --------------------------- Assets -------------------------------------
@use 'assets/burger-button';
@use 'assets/swiper-11.2.10';
// todo ------------------------ components ------------------------------------
@use 'components/sidebar-menu';
@use 'components/dropdown-menu';
@use 'components/cookies-accept';
@use 'sections/not-found.scss';
@use 'components/form-login';
@use 'components/widget';
@use 'components/order-call';
// todo --------------------------- Chunks -------------------------------------
@use 'chunks/bread-crumbs';
@use 'chunks/collection';
@use 'chunks/check-box';
// todo -------------------------- Section -------------------------------------
@use 'sections/index/section-slide';
@use 'sections/section-categories';
@use 'sections/section-partners';
@use 'sections/index/section-news';
@use 'sections/news-company/main-news';
// todo --------------------------- Style --------------------------------------
.wrapper {
  display: flex;
  flex-direction: column;

  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

[class*='_container'] {
  box-sizing: border-box;
  width: 100%;
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 2rem;

  @include screen-490 {
    padding: 0 10px;
  }
}

[class*='icon-'] {
  pointer-events: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

[class*=' _img'] {
  display: block;
  width: auto;
  height: auto;

  img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: contain;
  }
}

[class*='_ibg'] {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    object-fit: cover;
    object-position: center bottom;
  }

  svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}
