.section-company._container
	.section-company__body 
		.section-company__row 
			.section-company__column.bp-1 
				.section-company__info 
					.section-company__title 
						h1.t-h1 О компании «НойСтрой»
					.section-company__text.t-text-18-12
						p Добро пожаловать в «НойСтрой»&nbsp;— ваш надежный поставщик строительных материалов, инструментов и&nbsp;товаров для&nbsp;ремонта в&nbsp;Обнинске и&nbsp;Калужской области.
						p Наша цель&nbsp;— сделать процесс строительства и&nbsp;ремонта простым, доступным и&nbsp;качественным. Мы предлагаем широкий ассортимент проверенной продукции от&nbsp;ведущих брендов, чтобы&nbsp;каждый клиент мог найти то, что&nbsp;ему действительно нужно. 
				.section-company__images
					.section-company__image 
						+picture('/img/about/img-01.png', 'image') 
					.section-company__image
						+picture('img/about/img-02.png', 'image') 
					.section-company__image(data-da="bp-2" data-da-position="1" data-da-resolution="690")  
						+picture('/img/about/img-03.png', 'image')
				.section-company__images.bp-2.hidden 
			.section-company__column 
				.section-company__images(data-da="bp-1" data-da-position="1" data-da-resolution="690") 
					.section-company__image
						+picture('/img/about/img-04.png', 'image') 
		.section-company__row
			.section-company__column 
				.section-company__images.bp-3
					.section-company__image(data-da="bp-2" data-da-position="0" data-da-resolution="690") 
						+picture('/img/about/img-05.png', 'image') 
				.section-company__info 
					.section-company__title 
						h2 Факты о&nbsp;нашем магазине
					.section-company__text.t-text-14-12 
						p Год основания: 2015&nbsp;год
						p Формат работы: Розничный магазин&nbsp;+&nbsp;интернет-магазин с&nbsp;доставкой
						p География: г.Обнинск, Калужская область, вся&nbsp;территория России
						p Ассортимент: Более&nbsp;10&nbsp;000 товаров&nbsp;— строительные материалы, электроинструмент, сантехника, крепеж, пиломатериалы и&nbsp;многое другое
						p Мы сотрудничаем с&nbsp;такими известными брендами, как&nbsp;Knauf, Bosch, Makita, Ceresit, ТехноНИКОЛЬ, DeWalt, что&nbsp;гарантирует высокое качество всей реализуемой продукции
						p Более 10&nbsp;000 товаров для&nbsp;строительства и&nbsp;ремонта 
			.section-company__column 
				.section-company__images.bp-4
					.section-company__image(data-da="bp-3" data-da-position="1" data-da-resolution="1289")   
						+picture('/img/about/img-06.png', 'image') 
					.section-company__image(data-da="bp-3" data-da-position="1" data-da-resolution="690")
						+picture('/img/about/img-07.png', 'image')
		.section-company__row 
			.section-company__column 
				.section-company__images 
					.section-company__image(data-da="bp-4" data-da-position="1" data-da-resolution="1289")
						+picture('/img/about/img-08.png', 'image')
					.section-company__image
						+picture('/img/about/img-09.png', 'image')
					.section-company__image(data-da="bp-4" data-da-position="1" data-da-resolution="1289")
						+picture('/img/about/img-10.png', 'image')
			.section-company__column 
				.section-company__info 
					.section-company__title 
						h2 Почему выбирают нас?
					.section-company__text 
						p.t-text-14-12 Мы понимаем, что ремонт и строительство — это важные проекты, требующие надежности и уверенности. 
						p.t-text-14-12 Поэтому мы:
						ul.section-company__list 
							li -тщательно следим за качеством товаров;
							li предлагаем только проверенные решения;
							li -поддерживаем прозрачную политику цен;
							li -помогаем клиентам с выбором, даже если вы не уверены, что именно вам нужно.
						p.t-text-14-12 Независимо от того, планируете ли вы капитальный ремонт, строите дом или просто обновляете интерьер — вы можете рассчитывать на наш опыт и профессионализм.
		.section-company__row 
			.section-company__items 
				.card-info.section-company__card

					.card-info__title.t-text-18-14 Широкий выбор
					.card-info__text.t-text-14-12 всё для строительства и ремонта в одном месте
				.card-info.section-company__card

					.card-info__title.t-text-18-14 Профессиональные консультанты
					.card-info__text.t-text-14-12 поможем подобрать товар под любые задачи
				.card-info.section-company__card

					.card-info__title.t-text-18-14 Быстрая доставка
					.card-info__text.t-text-14-12 по Обнинску, Калужской и Московской области
				.card-info.section-company__card

					.card-info__title.t-text-18-14 Выгодные цены
					.card-info__text.t-text-14-12 напрямую от поставщиков
				.card-info.section-company__card

					.card-info__title.t-text-18-14 Гарантия
					.card-info__text.t-text-14-12 на весь ассортимент
				.card-info.section-company__card

					.card-info__title.t-text-18-14 Удобный самовывоз
					.card-info__text.t-text-14-12 из нашего магазина в центре города
			.section-company__items 
				.section-company__images  
					.section-company__image
						+picture('/img/about/img-11.png', 'image') 
					.section-company__image
						+picture('/img/about/img-12.png', 'image')
