extends @/pug/layouts/app_layout

append link
prepend script
	script(defer type="module" src="/src/js/card.js")
block title
	- var text='Card page'

block page-content
	main.page__main-content 
		.main-content#wrapper
			.main-content__content#content
				block main-content 
					section.main-content__section
						nav.bread-crumbs._container
							.bread-crumbs__body
								ul.bread-crumbs__list
									li.link-underline-center
										a.bread-crumbs__link(href=getWebRoot(filename) + "index.html" title="/ Главная") Главная
									li / 
									li.link-underline-center
										a.bread-crumbs__link(href=linkTo("catalog-products", filename) title="/ Каталог товаров") Каталог товаров
									li / 
									li.link-underline-center
										a.bread-crumbs__link(href=linkTo("categories/electric-tools", filename) title="/ Электроинструменты") Электроинструменты
									li
										span.bread-crumbs__current-item / Дрель-шуруповерт
					section.main-content__section
						include @/pug/sections/catalog/electric-tools/card-product
					footer.page__footer
						block footer 
							include @/pug/layouts/footer  
