.section-about._container
	.section-about__body
		.section-about__content
			.section-about__column
				.card.section-about__card
					.card__body
						.card__title
							h2.t-h2 Обо Мне
						.card__content 
							p.t-text-14-12 Lorem ipsum dolor sit amet, consectetur adipisicing elit se do eiusmod tempor incididunt ut labore et dolore mag nasaaliqua.Ut enim ad minim veniam, quis
							ul.card__list 
								li.card__item
									+iconfont('check', 'icon')
									span.t-text-14-12 Different of web developmentt 
								li.card__item
									+iconfont('check', 'icon')
									span.t-text-14-12 Gun Violence Prevention
								li.card__item
									+iconfont('check', 'icon')
									span.t-text-14-12 Eiusmod tempor incidid labore
						.card__button
			.section-about__column
				.card.section-about__card
					.card__body
						.card__content 
							.card__column
								.card__icon 
									+iconfont('pencil-alt', 'icon')
								.card__info 
									.card__number
										span 10
									.card__text.t-h4 Запущено проектов  
							.card__column
								.card__icon 
									+iconfont('check-box', 'icon') 
								.card__info 
									.card__number
										span 170
									.card__text.t-h4 Завершено проектов
			.section-about__column
				.card.section-about__card
					.card__body
						.card__title
							h2.t-h2 Мое мастерство
						ul.card__list 
							li.card__item
								+iconfont('check', 'icon')
								span.t-text-14-12 Different of web developmentt 
							li.card__item
								+iconfont('check', 'icon')
								span.t-text-14-12 Gun Violence Prevention
							li.card__item 
								+iconfont('check', 'icon')
								span.t-text-14-12 Eiusmod tempor incidid labore