.svg-mask {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	bottom: -2px;

	.cloud3 {
		opacity: 0.6;
		// border: 1px solid green;border
		width: 100%;
		z-index: 999;
		object-fit: cover;
	}
	.cloud1 {
		height: auto;
	}

	svg {
		position: absolute;
		bottom: 0;
		width: 100%;
		// height: 100vh;height
	}
}
